[2013-03-11 16:32] hueniverse opened #1 "Move blanket config out of package.json and into a proper setup method in blanket"

[2013-03-11 16:37] hueniverse opened #2 "Bugs in lab itself show up as failed tests with double done() call"

[2013-03-11 16:44] hueniverse opened #3 "Round coverage % to two precision digits"

[2013-03-11 22:49] #3 closed, assigned to nobody

[2013-03-11 22:50] #1 closed, assigned to nobody

[2013-03-12 00:38] geek opened #7 "Update the coverage reporter to support branch tracking"
blanket outputs branchData that can be used to track coverage of ternary operators.

[2013-03-14 18:02] #7 closed, assigned to nobody

[2013-03-16 07:01] hueniverse opened #12 "Show line number when expect() fails"

[2013-03-30 01:43] #12 closed, assigned to nobody

[2013-04-05 01:29] #2 closed, assigned to nobody

[2013-05-02 22:38] hueniverse opened #20 "Replace jade with handlebars"
Jade comes with too much crap

[2013-05-08 15:29] #20 closed, assigned to geek

[2013-05-11 21:04] iamdoron opened #24 "add a way to check global variables leaks"
For example, in https://github.com/spumko/hapi/pull/829, this issue would have been detected earlier if global leaks were checked.

[2013-08-26 21:58] #24 closed, assigned to geek

[2013-08-28 05:56] chapel opened #31 "Tests fail silently, code coverage the only sign of something wrong"
I had some issues figuring out what was wrong with my tests over on https://github.com/spumko/catbox/pull/43. It looks like since most of the tests are async and the asserts are inside of callbacks, the tests fail silently if a callback doesn't fire. Obviously there was an issue with my code but didn't have a good understanding of that from the test output.

The only thing that let me know that th

[2013-09-10 02:06] #31 closed, assigned to nobody

[2013-09-10 07:25] hueniverse opened #32 "Coverage not working on Windows"
Replaces https://github.com/spumko/boom/issues/7

[2013-10-28 20:29] othiym23 opened #36 "allow running test suites with bare node"
node-tap allows you to do this, which makes it super simple to debug failing test cases: `node debug test.tap.js`. Something like this in lab would be similarly useful. I can use `node debug ./node_modules/.bin/lab test.tap.js` but that's not obvious to a lot of people.

[2013-10-31 21:13] #36 closed, assigned to nobody

[2014-01-14 20:35] michelle-becker opened #38 "Discuss the addition of formatters to lab for CI consumption"
My team is planning to manage our Hapi deployments with Jenkins. We want to use our test output to verify the deployments. However the current version of Lab does not support xUnit output or really anything verbose enough to specify both coverage as well as the success/failure of each tests.

I was looking at the following options to take:

1) Write a parser to consume the normal Lab console outpu

[2014-01-16 18:34] #38 closed, assigned to nobody

[2014-02-03 17:09] geek opened #40 "Support spec reporter"
On long running tests when a test fails its useful to know which test it was that failed instead of having to wait for all of the tests to run.  Alternatively support a --bail option that stops on the first failed test.

[2014-02-16 12:25] chmanie opened #41 "Support beforeEach() (and afterEach())"
In order to really make tests independent of each other it would be nice to have a beforeEach() (and afterEach()) wrapper for a function that is to be called before each of the tests inside of a describe() block.

[2014-02-16 14:00] #41 closed, assigned to hueniverse

[2014-02-20 19:26] leore opened #43 "fix for readme"
npm install lab -g is needed to use command line the "-g" is important

[2014-02-20 20:35] leore opened #44 "Lab not working"
When I run

lab test.js it seems that lab isnt working

however if I do

node_modules/lab/bin/lab test.js

it works

It seems that lab only works if executed from the bin. Looks like you are invoking this the same way in hapi too?

[2014-02-25 20:17] hueniverse opened #45 "Fix double domain implicit enter()"

[2014-02-25 20:18] #45 closed, assigned to hueniverse

[2014-02-25 20:21] #44 closed, assigned to nobody

[2014-02-25 20:22] #43 closed, assigned to hueniverse

[2014-03-09 05:51] hueniverse opened #49 "Allow specifying tests by id"
Change console report to show test id instead of failure counter.
Support the new `-i` or `--id` command line argument for specifying the ids to run.

[2014-03-09 05:52] #49 closed, assigned to hueniverse

[2014-03-14 04:54] thesillyhippo opened #50 "Add the --grep option"
This would be helpful if we have a lot of tests. We have a lot of tests.

[2014-03-19 19:17] adityabakle opened #52 "Deprecated Assertion.includeStack"
executing npm test prompts `Assertion.includeStack is deprecated, use chai.config.includeStack instead` on console.

[2014-03-19 19:18] #52 closed, assigned to nobody

[2014-03-23 08:53] hueniverse opened #54 "Move coverage functionality internally"
In the spirit of lab itself, reducing usage of feature-rich outside modules to maintain simplicity and control.

[2014-03-23 08:53] #54 closed, assigned to hueniverse

[2014-03-23 17:11] #50 closed, assigned to nobody

[2014-03-24 06:12] hueniverse opened #57 "Statement tracking across lines"

[2014-03-24 08:03] #57 closed, assigned to hueniverse

[2014-03-25 15:26] petermilan opened #58 "How to write test for required file parameters"
Hi,
I am trying to create a test for API call with mandatory file parameter. When I try to do this using the real API call using following form:

[code]

It is working as expected, but if I try to write test for that, it is not working.

I am using following route:

[code]

And here is the test I trying to be succesfull:

[code]

In the response is filed following result:

[code]

How should I sim

[2014-03-27 19:40] nlf opened #60 "Add tests"
We're totally lacking tests of our testing framework.. Seems bad.

[2014-03-28 08:07] hueniverse opened #61 "Remove SwitchCase from statement coverage"

[2014-03-28 08:08] #61 closed, assigned to hueniverse

[2014-03-29 19:25] #40 closed, assigned to nobody

[2014-03-29 19:28] #58 closed, assigned to nobody

[2014-03-30 04:38] hueniverse opened #62 "Tap reporter"
Just for @isaacs

[2014-03-30 04:39] #62 closed, assigned to hueniverse

[2014-03-30 05:48] hueniverse opened #63 "Remove verbose mode"
Not needed with new spec reporter

[2014-03-30 05:59] #63 closed, assigned to hueniverse

[2014-03-30 05:59] hueniverse opened #64 "Remove coverage reporter"
Enable coverage and use JSON reporter instead.

[2014-03-30 08:18] #64 closed, assigned to hueniverse

[2014-03-30 08:34] hueniverse opened #65 "Rename -g to -l and make it disable detection"

[2014-03-30 08:35] #65 closed, assigned to hueniverse

[2014-03-30 12:45] krisb opened #66 "before/beforeEach/afterEach/after not run in correct order when using nested experiments"
Consider the following test:

[code]

Run with tap (`lab examples/nested_experiments.js -r tap`) and you get the following output:

[code]

expected output should be:

[code]

Note: I've used tap for the simplistic output - its not a symptom of that formatter, more so structure of the experiments built in index.js.

[2014-03-30 20:56] #66 closed, assigned to hueniverse

[2014-03-30 20:57] hueniverse opened #67 "Combine spec+console+summary with -s/-v flags"
Without any flag: .....x....
With -s: nothing
With -v: spec reporter

All three will output the results.

[2014-03-30 20:58] hueniverse opened #68 "Allow setting parallel execution"

[2014-03-30 21:15] hueniverse opened #69 "Allow setting per test of experiment timeout"

[2014-03-30 21:22] #69 closed, assigned to hueniverse

[2014-03-30 21:36] #68 closed, assigned to hueniverse

[2014-03-31 07:15] #67 closed, assigned to hueniverse

[2014-03-31 17:56] hueniverse opened #70 "Skip test or experiment"

[2014-03-31 18:25] #70 closed, assigned to hueniverse

[2014-03-31 18:25] hueniverse opened #71 "Todo tests"

[2014-03-31 18:34] #71 closed, assigned to hueniverse

[2014-04-04 22:32] dazld opened #73 "Watch command"
Would like a simple way to watch the test folder for changes, and re-run when something is updated.

I guess it'd be simple to wrap this call around something and come up with a DIY solution, but would be great if it was built in.

[2014-04-05 06:52] #73 closed, assigned to hueniverse

[2014-04-14 21:05] mpareja opened #75 "Consider exposing Chai.assert"
Given you're exposing Chai's expect mode, would you consider exposing Chai's assert mode?

[2014-04-17 07:22] hueniverse opened #77 "Show error message not just for boom"

[2014-04-17 07:23] #77 closed, assigned to hueniverse

[2014-04-17 14:21] scottcorgan opened #79 "Supporting promises"
Does Lab support promise testing similar to Mocha?

[2014-04-18 03:12] #75 closed, assigned to nobody

[2014-04-18 05:45] #79 closed, assigned to nobody

[2014-04-25 23:34] hueniverse opened #83 "Ability to skip coverage for a code section"
[code]

[2014-04-25 23:39] #83 closed, assigned to hueniverse

[2014-04-29 13:02] AidenMontgomery opened #86 "Unable to use global CLI"
When typing lab into the command line, to utilise my globally installed version of lab, I always receive the following output.

[code]

However running a local version, in the case of this repo **node ./bin/lab**, or in the case of hapi's repo **node ./node_modules/lab/bin/lab**, I receive the correct test run output.

Putting console.log() into the code has got me as far as line 485 in execute.js

[2014-04-30 18:55] #86 closed, assigned to nobody

[2014-05-01 15:15] jasonpincin opened #87 "Multiple done call detection not working"
Lab is not displaying error when done() is called more than once. Instead, `undefined` is shown multiple times.

[2014-05-01 15:24] #87 closed, assigned to nobody

[2014-05-05 22:18] kpdecker opened #90 "Allow ability to execute specific subset of tests"
I.e. the `--grep` option provided by mocha. Allows for iteration on a specific tests without having to wait for all of the other tests to execute.

[2014-05-15 15:49] JasonTheAdams opened #95 "Weird Error 1 on Failure"
I put together a simple test -- expect(1+1).to.equal(2). When I ran the test, it worked just fine. But when I altered the test to fail -- expect(2+1).to.equal(2), I got the following error after the code coverage:

[code]

I am running on Ubuntu, but I added a symlink for nodejs to node, so the legacy binary shouldn't be an issue. I normally use "node" from the command line.

Any ideas?

[2014-05-19 22:08] #32 closed, assigned to hueniverse

[2014-05-19 22:33] #95 closed, assigned to nobody

[2014-05-20 00:06] #90 closed, assigned to hueniverse

[2014-05-20 02:42] geek opened #98 "Add total missing lines to the coverage reporter"
When using the coverage reporter we should total all of the missing lines and say:

[code]

[2014-05-21 07:25] feugy opened #99 "Add option to set acceptable global variables"
Currently, there is no way to set a bunch of acceptable global variables.

For example, when using [traceur](https://github.com/google/traceur-compiler), 'Symbol', '$traceurRuntime', 'System', 'Promise', 'Map', 'traceur' are required global variables.
It could be a solution to support traceur as a specific library, like it's done for blanket or ArrayBuffer, but it could be useull to provide a more

[2014-05-27 00:11] gergoerdosi opened #101 "Mongoose call fails silently"
I have a `before()` method which calls an action on a Mongoose model:

[code]

`TEST` is never written to the console and execution of the test suite stops at this point. If I call `done()` outside of the callback, then execution continues:

[code]

The issue seems to be Mongoose related, because other async callbacks work as expected, for example:

[code]

[2014-05-27 00:43] #101 closed, assigned to hueniverse

[2014-05-27 19:51] lloydbenson opened #102 "support mechanism to do 1 run, but output to different reporters"
When utilizing lab, it would be ideal to do one test run and get some results output (json?).  After this, when utilizing tap, threshold, or whatever custom reporter, it would be good to re-utilize the results from the actual run so you don't have to re-run the tests.  The goal here is to optimize the time if you use more than 1 reporter, and to use a consistent result set for those different repo

[2014-05-27 21:55] #102 closed, assigned to hueniverse

[2014-05-30 01:23] garthk opened #103 "tests should fail if before etc call back with an error or crash"
If `before`, `beforeEach`, `after`, or `afterEach` call back with an error, the test should fail.

Consider the following experiment:

[code]

I'd expect that to log "Error: should fail", fail the test without running it, and exit with a non-zero code.

Under `lab@3.2.1`, though:

[code]

`lab` logs the error (good), runs the test anyway (bad), and exits cleanly (bad).

Similarly:

[code]

… shoul

[2014-06-19 01:19] KyleAMathews opened #106 "Easy way to use with Coffeescript and other compiled languages"
Jest's pattern for supporting other languages is nice: http://facebook.github.io/jest/docs/tutorial-coffeescript.html#content

[2014-06-26 05:13] martinheidegger opened #107 "Lab doesn't show the assertion message when an assertion fails"
When I run lab with the console reporter and an assertion like this fails:

[code]

Then it will not show the message "hello world" in the output but only that `true` isn't equal `false`.

Note: This might also occur with other reporters

[2014-06-27 03:11] martinheidegger opened #108 "Adding coverage tests skew the line-numbers in stack statements."
When using lab out of the box with code-coverage enabled and a error occurs it will show the wrong line number (and character number) in the stack trace.

As far as I know this is due to the code generation of the coverage tool. Perhaps this could be solved with code maps enabled? Or by placing the additional statements in a way that as few as possible (zero?) extra lines are introduced? If the st

[2014-06-27 10:52] ahumphreys87 opened #109 "Option to output coverage in lcov format"
Hi Guys,

Im currently using Hapi and using lab to build my tests, Im looking to intergrate my app with coveralls.io (https://coveralls.io/) however it requires coverage reports to be in lcov format. Is this an option with lab or is it planned for a feature version?

[2014-07-02 00:31] jgallen23 opened #110 "Lab.test.only and Lab.test.skip"
Mocha has a great feature that you can call `test.only(function(done) {` or `test.skip(function(done) {` and it will either only run that test or skip that test.  Handy if you have a watcher and you just want to work on a single test without changing the cli args

[2014-07-07 14:27] toymachiner62 opened #111 "Unable to run tests."
I'm trying to run a simple test I created and I'm getting the error below.

First try (comes from the readme):

[code]

Second try (comes from the Testing Hapi Services guide):

[code]

C:\Apps\web\hapi\package.json:

[code]

[2014-07-07 16:05] #111 closed, assigned to nobody

[2014-07-08 21:10] toymachiner62 opened #114 "How to run individual tests"
Is there any way to run individual tests in a file?

[2014-07-08 21:24] #114 closed, assigned to danielb2

[2014-07-15 12:41] petermilan opened #115 "Count of assertions"
Would it be possible to add count of assertions in the results? I think that it is good satisfaction for the author of tests to see how many assertions the tests did :)

[2014-07-15 16:18] #99 closed, assigned to nobody

[2014-07-16 21:15] arb opened #117 ""Infinite" Timeout"
What about an option for `-m` like 0 or -1 that sets the timeout value to as high as it can be? I think it's would be something like `Math.pow(2,32) - 1`.

I've found that if you are trying to debug something, especially with a visual debugger, the timeout quickly ends and it would be convenient to just have the timeout be super long without having to know what the max size you can pass in is.

[2014-07-16 23:44] briandela opened #118 "Way to get coverage report in HTML at the same time as console"
It would be great to be able to do something like

lab -vC -r console -r html:coverage.html

(-r html:coverage.html equivalent to '-r html -o coverage.html')

Right now I'm running the unit tests twice from a gulp task so I can see in my console how the tests are doing but also get the html report for coverage (I'm pushing it to a server to keep a record)

[2014-07-19 01:03] geek0x23 opened #119 "Duration of tests shown via TAP"
In TAP version 13, the specification supports attaching arbitrary data points to a test using YAML.  Take a look at the "YAML blocks" section in the [specification](http://testanything.org/tap-version-13-specification.html).  In our environment, we use TAP exports so that our Jenkins CI server can keep track of test runs.  I recently noticed that the Jenkins TAP plugin actually supports a custom Y

[2014-07-21 17:53] toymachiner62 opened #120 "How to exclude index.js file from code coverage (or do people actually test that file as well)?"
When running lab with the -c flag to generate the code coverage, it's showing me that my index.js file is missing some coverage.

How can I exclude the index.js file from being tested? Or if it's best practice to write tests for the index.js file, can someone point me in the right direction on how to do that?

[2014-07-21 17:58] toymachiner62 opened #121 "How to test the "err" condition in my code"
I'm trying to achieve 100% code coverage and I'm getting missing coverage on all my `if(err)` statements.

How can I actually test coverage for these err lines if I can't specifically make an error occur? How are other people handling this situation?

route:

[code]

[code]

[code]

[2014-07-21 18:29] #121 closed, assigned to geek

[2014-07-21 18:53] avaly opened #122 "Reduce number of files shipped in the npm module"
Installing this module from NPM will install all the files that are intended for development or documentation use: the `examples/`, `images/` and `test/` folders, the `Makefile`, `.travis.yml` files.

While a `.npmignore` file exists, things can easily be added in the repository and forget to be ignored. A better way to include only the deliverables is using [`files` in `package.json`](https://www

[2014-07-22 07:00] avbel opened #123 "Add new ES6 types to knownGlobals"
Like

[code]

Otherwise labs shows global variables leak on node 0.11.13+ with switch `--harmony`

[2014-07-22 15:36] #122 closed, assigned to hueniverse

[2014-07-23 14:52] hueniverse opened #124 "4.0 Breaking Change"
Motivation:
- Remove conflicts between a locally and a globally installed lab. Allow using a global command to run tests which directly require a local lab copy.
- Provide a clean test API that can be scripted without having to use the runner CLI.
- Use lab to test lab including coverage.
- Make it easy to build fancy test runners on top without having to fork.

Changes:
- No longer uses a global

[2014-07-27 03:16] gingermusketeer opened #125 "Chai plugins"
How do i go about adding plugins to chai? It looks like chai is not being exposed only expect and assert

[2014-07-27 15:28] #125 closed, assigned to hueniverse

[2014-07-31 18:31] hueniverse opened #127 "while (false) ++f shows ++f covered"

[2014-08-01 19:13] hueniverse opened #129 "Expose notebook.errors in console reporter"

[2014-08-01 19:14] hueniverse opened #130 "Add lib/cli.js to coverage tests"

[2014-08-01 19:17] #123 closed, assigned to nobody

[2014-08-01 20:27] hueniverse opened #131 "Rename spumko to hapijs"

[2014-08-01 20:27] #131 closed, assigned to hueniverse

[2014-08-03 17:51] #107 closed, assigned to hueniverse

[2014-08-03 18:04] #60 closed, assigned to jaw187

[2014-08-03 20:22] #110 closed, assigned to hueniverse

[2014-08-03 20:51] #98 closed, assigned to hueniverse

[2014-08-03 21:51] #103 closed, assigned to hueniverse

[2014-08-03 21:58] #117 closed, assigned to hueniverse

[2014-08-03 22:05] #120 closed, assigned to hueniverse

[2014-08-03 22:08] #106 closed, assigned to nobody

[2014-08-03 22:14] hueniverse opened #132 "Update readme to reflect all the latest cli options"

[2014-08-03 22:37] #132 closed, assigned to hueniverse

[2014-08-03 22:39] #124 closed, assigned to hueniverse

[2014-08-05 07:37] #108 closed, assigned to nobody

[2014-08-05 21:37] #130 closed, assigned to nobody

[2014-08-06 19:49] geek opened #138 "4.0.0 Release Notes"
## Summary

**lab** v4.0 removes conflicts when running tests from either a globally or locally installed version of **lab**.  **lab** is now finally tested fully with **lab**.  Additionally, it's now much easier to create test runners for **lab** without having to create a new fork.

The original discussion on v4.0 changes and the motivation behind them can be found [here](https://github.com/hapi

[2014-08-07 15:30] #129 closed, assigned to nobody

[2014-08-07 16:13] #138 closed, assigned to nobody

[2014-08-07 17:12] geek opened #139 "CLI colors aren't defaulted to tty capabilities"
Repro: run lab without -C and it doesn't use colors

[2014-08-07 17:27] #139 closed, assigned to geek

[2014-08-07 21:53] jgallen23 opened #142 "issue with lab 4.0.0 and lab-bdd"
I've created a simple module to export the test functions globally, so I can just type describe, it, etc.  It was working great with 3.x.  I updated the lib to call .script(), but no tests run.

Here's the script:

[code]

Here's the repo: https://github.com/firstandthird/lab-bdd/tree/v4.0.0

I feel like I'm missing something obvious.

[2014-08-07 22:34] #142 closed, assigned to geek

[2014-08-07 22:56] nlf opened #143 "lab throws with ReferenceError: __$$labCov is not defined when run with coverage enabled and no code to cover"
To reproduce:

[code]

Create the file `test/index.js` with the following contents:

[code]

Run the tests with coverage enabled: `./node_modules/.bin/lab -t 100`

Obviously, this is a contrived example, but I noticed it when I was creating a template for an empty test suite and thought I should bring it up since crashes are rarely ever the desired result of anything.

[2014-08-08 21:18] #143 closed, assigned to geek

[2014-08-08 21:33] geek opened #145 "Replace use of async with items"
Use http://npmjs.org/package/items instead of async

[2014-08-08 21:57] geek opened #146 "Reword session errors to test script errors"

[2014-08-08 22:03] #145 closed, assigned to hueniverse

[2014-08-11 09:34] Marsup opened #148 "Environment set too late"
I'm in the process of switching to lab 4 on my project, I have noticed a breaking change on the setting of NODE_ENV. It comes too late and my tests already had time to require environment dependent modules.

[2014-08-11 15:48] #146 closed, assigned to nobody

[2014-08-11 19:24] #148 closed, assigned to geek

[2014-08-11 21:59] geek opened #151 "Environment not set before require when using CLI"
This is a regression from lab v3

This covers: https://github.com/hapijs/lab/pull/150#issuecomment-51835294

[2014-08-11 23:51] edwin-bluekite opened #153 "Record http request as vcr gem"
What is the best way to integrate http request recording to lab,
I tested nock-vcr but it fails to work, any suggestions?

https://gist.github.com/edwin-bluekite/ba54caa02259a26a1124

[2014-08-12 17:14] #151 closed, assigned to geek

[2014-08-12 17:47] geek opened #154 "Skipped tests still reported on console reporter as being run"

[2014-08-12 18:51] geek opened #155 "Clarify how `only` behaves"
Related to https://github.com/hapijs/lab/issues/110#issuecomment-51897305

[code]

[2014-08-12 19:15] #154 closed, assigned to geek

[2014-08-13 14:51] martinheidegger opened #157 "Handle tests without a "exports.lab" gracefully"
In lab 4 you introduced the new requirement that a test had to add "exports.lab = lab;". Unfortunately it seems that if you forget to write that lab just silently quits without anything. It would be better if there were some information on which file it broke or what the problem was. It wasn't clear to me so I assume other users might be confused as well.

(To be honest I am not a fan of this chan

[2014-08-13 17:12] #153 closed, assigned to nobody

[2014-08-13 18:27] #155 closed, assigned to geek

[2014-08-14 20:18] pletcher opened #160 "Tests silently fail to run if missing `done()` in `before()` or `after()`"
If a call to `done()` is missing in either the setup or teardown methods, tests don't run but instead fail silently.

It would be great to throw an error (a la Mocha) if `done()` isn't called.

It looks like `before()` is successfully called without `done()`, but then tests aren't run:

[code]

Output:

![screen shot 2014-08-14 at 1 15 35 pm](https://cloud.githubusercontent.com/assets/2015049/3926

[2014-08-15 20:54] hueniverse opened #161 "Allow setting CLI options programatically"
Replaces #155

[2014-08-15 21:35] #157 closed, assigned to geek

[2014-08-18 09:25] sgran opened #165 "Junit output"
Hi Guys,

We're currently using Hapi and using lab to build our tests, and our CI server can parse Junit output natively.  It might be possible to build tap parsing into the CI server, but it would be nice if lab could output Junit format natively.

Cheers,

[2014-08-19 18:27] #165 closed, assigned to geek

[2014-08-19 18:30] geek opened #167 "Document JUnit reporter"

[2014-08-19 19:27] #167 closed, assigned to geek

[2014-08-19 20:07] toymachiner62 opened #169 "Trying to dynamically pull all *-test.js files and run them with Lab"
We are ultimately trying to structure our project so it is modularized with a structure like this:

[code]

The problem i'm currently trying to solve is how can we use Lab with this structure. I noticed this in the README:

Currently i'm trying to create a script that basically fetches the paths to all the see if this is even possible to use Lab by just having a flat structure like this:

[code]

[2014-08-19 21:16] #169 closed, assigned to geek

[2014-08-20 17:42] #161 closed, assigned to hueniverse

[2014-08-20 17:48] #119 closed, assigned to geek

[2014-08-20 17:49] #160 closed, assigned to geek

[2014-08-20 21:12] geek opened #171 "4.1.0 Release Notes"
- Added JUnit Reporter #166
- TAP reporter now includes test durations #119
- Detect and warn about missing exports.lab in scripts #157
- CLI options can now be set programmatically #161
- Sinon timings no longer break runner #164

[2014-08-20 21:14] #171 closed, assigned to geek

[2014-08-22 23:23] kidtronnix opened #173 "Authentication Testing"
Hi,

I am trying to use Lab to test an application I wrote using Hapi, https://github.com/smaxwellstewart/hapi-dash.

I would like to test my authentication by:
1. Doing an injection of an auth protected route WITHOUT a session cookie and making sure I am redirected to '/login'.
2. Doing an injection of '/login' to make sure the login works. At this point collect a cookie (could i collect it using

[2014-08-24 17:24] #173 closed, assigned to nobody

[2014-08-26 20:05] #118 closed, assigned to geek

[2014-08-28 22:26] ThisIsMissEm opened #177 "Errors in Test syntax not reported to User"
Okay, so, here's a nice one that stumped me for a while, and caught someone else as well:

Given the code in this Gist: https://gist.github.com/miksago/d28d3a9491c9dbb9f663

I get the output:
![screen shot 2014-08-28 at 11 23 44 pm](https://cloud.githubusercontent.com/assets/30827/4083944/0ab2d6e6-2f02-11e4-8e9d-bc4d36d0168b.png)

I couldn't work out why Lab thought that I didn't have good code co

[2014-09-01 08:36] #177 closed, assigned to hueniverse

[2014-09-03 08:25] Marsup opened #178 "Code coverage with sourcemaps support"
Hi,

I'm mostly working on projects with ES6 transpilation nowadays.
Errors produced in the tests are finely reported thanks to `source-map-support`, the only thing I'm missing is the equivalent for code coverage lines.
So I'd like to discuss the idea before looking into it myself in case you wouldn't want it.
Thoughts ?

[2014-09-04 15:30] dminkovsky opened #180 "Stray asterisk in README"
See under "Usage", in the sentence:

Looks like 'lab" is supposed to be bolded, but there's some italics going on.

[2014-09-04 16:10] #180 closed, assigned to geek

[2014-09-04 18:14] #109 closed, assigned to geek

[2014-09-05 03:39] geek opened #183 "Switch to yargs"
Since optimist is deprecated switch to yargs

[2014-09-05 19:04] #183 closed, assigned to geek

[2014-09-05 21:38] osukaa opened #185 "makefile doesn't work"
I have my makefile with the lines of code you have:

[code]

And in my package.json I have:

[code]

When I run the command npm test I get the following issue:

[code]

I have node 0.10.30, npm 2.0.0-alpha-5, lab 4.2.0

[2014-09-05 22:12] #185 closed, assigned to cjihrig

[2014-09-07 12:52] tuvokki opened #186 "How to test a file upload?"
In a frontend the data of a canvas is collected and put into a form object like so:

[code]

This formdata object is send to the api: `xhr.send(form)`

How to I write a lab test to do this?

[2014-09-08 22:04] mike-zorn opened #188 "Attaching debugger and showing test failures"
Two questions.
1. Is there a better way to attach the debugger than `node debug <path-to-lab> [lab-args...]`
2. Is there something special I need to do to get causes of test failures to display?

[2014-09-09 15:07] jonaswindey opened #189 "Code coverage of server.start method"
I'm using lab with hapi and I'm trying to achieve 100% code coverage.

To run my tests without starting the server (if my server is already running locally), I add this check:

[code]

Of course, in my tests this code doesn't get covered. Is there a way to achieve this? Or ignore specific files from being covered?

[2014-09-09 16:04] #186 closed, assigned to nobody

[2014-09-09 16:12] #188 closed, assigned to nobody

[2014-09-09 16:39] #189 closed, assigned to nobody

[2014-09-09 16:43] geek opened #190 "Detect missing boolean executions in coverage"
Detect properties that are boolean and when tests don't pass true and false to the properties.  This is more of a fuzzy value coverage option.

[2014-09-11 02:41] geek opened #191 "Switch from optimist to bossy"

[2014-09-11 16:29] #191 closed, assigned to geek

[2014-09-12 15:02] arb opened #194 "Unhelpful Message"
If you do `lab -help` (note using a single `-`), the message is not helping in identifying what you did wrong. Some problem for any of the options.

[2014-09-12 15:03] arb opened #195 "Missing Option Result"
`lab -x` results in

[code]

Doesn't like what the unknown option is.

[2014-09-12 15:11] arb opened #196 "Globals"
It's kind of weird that to supply a list of globals you use either `-I` or `--globals` I think one of them should change so the short name and alias are more similar.

[2014-09-12 15:15] #194 closed, assigned to geek

[2014-09-12 15:21] #195 closed, assigned to nobody

[2014-09-12 16:06] #196 closed, assigned to geek

[2014-09-12 16:30] jeffm13 opened #200 "junit reporter unavailable"
junit reporter added in 4.1 is not available with the latest release.  Missed it in the latest update to cli.js.

[2014-09-12 17:07] moniker001 opened #202 "Test post requests with lab"
Is it possible to test post requests with lab? Could you put up an example where the server accepts a post request (sent from a client with text data entered in an input field) and prints out the text data to the console?

[2014-09-12 17:33] #200 closed, assigned to geek

[2014-09-12 17:51] #202 closed, assigned to nobody

[2014-09-12 18:18] geek opened #204 "CLI: -o not honored"

[2014-09-12 18:33] #204 closed, assigned to geek

[2014-09-12 21:16] atomantic opened #206 "Split coverage output to file and verbose test output to console?"
I'd like to be able to configure lab to output code coverage to html (for external reporting) but output the test running to the console (for developers). Is this possible, or a doable feature request?

[2014-09-13 19:51] #206 closed, assigned to nobody

[2014-09-16 00:56] Trott opened #209 "code error results in all tests passing"
See https://github.com/Trott/lab-issue-demo for a test file that exits with no output and a success code. It appears that coding errors in the tests can result in...uh...I guess this is a false negative?

Tested with lab 4.4.3.

[2014-09-16 00:57] Trott opened #210 "code error results in all tests passing"
See https://github.com/Trott/lab-issue-demo for a test file that exits with no output and a success code. It appears that coding errors in the tests can result in...uh...I guess this is a false negative?

Tested with lab 4.4.3.

[2014-09-16 00:57] #210 closed, assigned to nobody

[2014-09-16 12:54] Marsup opened #211 "Report long before/after"
I can totally understand why `before` and `after` don't use timeouts, but it would be very helpful to echo some kind of warning if those are taking too long. I had the tests stuck several times (for various reasons such as `done` never called) without knowing where. Would you take a patch for that ?

[2014-09-16 16:34] #209 closed, assigned to geek

[2014-09-19 18:57] tsilvia opened #214 "Stop Tests On First Failure"
The idea would be to add a command line flag to lab that would cause the set of test cases to stop on first failure and show the output of that failed test instead of having to wait for all tests to complete and then see the output.

You could also make it an option that it shows the reason for the test failure in line with the verbose output so you can see the reason for the failure as the tests

[2014-09-22 03:37] mrlannigan opened #216 "External reporters?"
Is there a reason a reporter cannot be referenced by an alternate javascript file? I have a use case to enable the integration of lab into Webstorm. Without going down the route of added a Java plugin, I was first going to attempt to mimic the output of the Mocha test runner in the Nodejs Plugin that ships with Webstorm. This would require a reporter that outputs something like this:
[code]

So, n

[2014-09-22 14:01] Marsup opened #217 "Behavior on missing done"
Hello,

I noticed people coming from mocha often forget to declare a done for synchronous code.

I know we don't intend to copy mocha but it might be useful to at least warn the user if no parameter is declared. It would be less verbose to accept both styles but I guess you did it on purpose ?

[2014-09-22 17:35] #178 closed, assigned to nobody

[2014-09-24 17:00] #211 closed, assigned to nobody

[2014-09-29 18:25] arb opened #221 "Clean up Tests"
Clean up tests according to [this](https://github.com/hapijs/contrib/blob/master/Tests.md)

[2014-10-02 17:56] geek opened #225 "Console reporter doesn't display well on windows"
When running verbose console mode in windows, 'Heavy' check marks and multiplication signs don't print on the console.

Relates to: https://github.com/hapijs/lab/pull/222

[2014-10-02 18:26] #225 closed, assigned to geek

[2014-10-08 14:04] geek opened #231 "Only show linted files if there are issues"

[2014-10-08 14:47] #231 closed, assigned to geek

[2014-10-08 14:49] geek opened #233 "Add eslintignore for labs tests"
Since they will have lint issues on purpose, no point in linting them

[2014-10-08 14:56] #233 closed, assigned to geek

[2014-10-08 21:18] geek opened #236 "Remove no-lonely-if"
Until https://github.com/eslint/eslint/issues/1355 is fixed

[2014-10-08 21:18] geek opened #237 "Switch -L to be boolean and only use eslint"

[2014-10-08 21:24] #236 closed, assigned to geek

[2014-10-08 21:26] geek opened #239 "Drop consistent-return lint rule"
There are cases where you may want to return early with undefined and then later return a callback... this rule just doesn't work well for our style.

[2014-10-08 21:30] #239 closed, assigned to geek

[2014-10-09 15:29] #237 closed, assigned to geek

[2014-10-09 15:41] geek opened #242 "Remove brace-style lint rule"
Need a brace-style rule that allows for single line functions

[2014-10-09 16:12] #242 closed, assigned to geek

[2014-10-09 20:59] hueniverse opened #244 "Remove extra line breaks"
777 tests complete
Test duration: 6244 ms
No global variable leaks detected
Coverage: 100.00%
<- here
Linting results:  <- here
No issues

[2014-10-09 21:20] geek opened #245 "Spawn linting in child process"

[2014-10-10 16:59] #244 closed, assigned to geek

[2014-10-16 13:57] #217 closed, assigned to nobody

[2014-10-16 21:41] hueniverse opened #250 "Remove chai"
Before we consider bundling lab with a new assertion library, we should remove the existing one. Once we do that, adding a new built-in will be a minor release. By removing it, we ensure a smoother transition as any replacement will include many breaking changes (e.g. no longer using properties for assertsion `.exist` turns into `.exist()`).

We should also remove all the custom handling for chai

[2014-10-17 16:35] osukaa opened #251 "Using console.log inside tests"
I'm starting to use lab to test a reverse proxy, but the test are never finishing so I tried inserting `console.log` inside the code but it doesn't show anything, just the `xx.xxx....x`.

Is there a way to show the console.log?

[2014-10-17 17:19] #251 closed, assigned to geek

[2014-10-17 19:24] #245 closed, assigned to geek

[2014-10-21 05:43] hueniverse opened #252 "Lint report formatting"
I'm seeing this:

[code]

[2014-10-21 22:17] geek opened #254 "Fix documentation to exclude chai"

[2014-10-21 22:28] hueniverse opened #255 "Assertion library integration"
The new assertion library `code` has support for counting how many assertions were created during a session, and how many incomplete assertions were created (e.g. `expect(a).to`). Incomplete assertions are a problem because they pass tests silently.

With lab 5.0 no longer including an assertion library, the question is how to best integrate such functionality into the reports.

Options:
1. `Lab.s

[2014-10-22 14:56] #115 closed, assigned to hueniverse

[2014-10-22 14:56] #255 closed, assigned to hueniverse

[2014-10-22 14:59] Marsup opened #257 "Set expected number of assertions"
Related to #115.

Now that we can count assertions, it would be very useful to assert all the expected assertions ran.

[2014-10-22 16:23] #254 closed, assigned to geek

[2014-10-22 16:24] #250 closed, assigned to hueniverse

[2014-10-22 17:31] #252 closed, assigned to geek

[2014-10-22 17:41] geek opened #259 "5.0.0 Release Notes"
### Summary

_lab_ has removed the built-in assertion library, [chai](http://npmjs.org/package/chai).  If you intend to continue to use chai you should npm install it separately.  However, a more condensed assertion library named [code](http://npmjs.org/package/code), which is similar to chai, is now available.  [Code's](http://npmjs.org/package/code) big difference is that all assertions are func

[2014-10-22 17:44] #259 closed, assigned to nobody

[2014-10-23 13:45] geek opened #261 "Remove extra hoek typo in package.json"

[2014-10-23 13:45] #261 closed, assigned to hueniverse

[2014-10-29 22:20] geek opened #264 "Add recursive mode for running dependency tests"
`-R` `--recursive` should navigate through the dependencies of a module and run the tests on each.  The resulting reports should have a unified view providing the name of each module as the top parts of the hierarchy in the reports.

[2014-11-01 02:11] technowar opened #267 "Test information misleading?"
Wow, I must be high when I opened this issue.

[2014-11-01 02:22] #267 closed, assigned to nobody

[2014-11-03 14:34] arb opened #268 "Auto Generate Outer Describe Block"
There is a lot of confusion about the top level describe now as it pertains to the new layout of testing rules. This was something we talked about in Slack; lab would automatically create the outer describe block for you so that written tests wouldn't need to do that.

Related to
https://github.com/hapijs/discuss/issues/24
https://github.com/hapijs/contrib/blob/master/Tests.md

[2014-11-04 04:52] okjulian opened #269 "Exclude folders from coverage"
Lab CLI should have an option to exclude certain folders from its test coverage, node_modules for example.
When I run `lab -t 100 -m 3000` in my project, this is the output I get:

[code]

[2014-11-04 17:11] #269 closed, assigned to geek

[2014-11-04 18:16] #268 closed, assigned to nobody

[2014-11-06 10:19] kanongil opened #270 "Error with code coverage enabled & return in module"
If I add a simple `return` statement directly in a tested module, node happily accept it and running `lab` works. However when I run `lab -c` I get this error:

[code]

I would expect the coverage tool to handle this case.

[2014-11-08 01:38] #270 closed, assigned to geek

[2014-11-09 20:30] 58bits opened #273 "Failed Assertion Causing Timeout"
I'm having a problem with some tests I'm writing using Lab. When an assertion/expect fails, I get errors reported against the 'previous' test -

Test script errors:

[code]

Here's the test fixture.

[code]

I've forced the expectation to fail in the second test with `Code.expect(data).to.equal('boo');`, and this generates the error above. I suspect it's because `done()` is never called, and that

[2014-11-14 20:49] hueniverse opened #274 "Single line functions are not property tested for coverage"

[2014-11-20 07:49] hueniverse opened #276 "(true ? true : false) ? 'x' : false === true when coverage enabled (should be 'x')"

[2014-11-20 07:50] #276 closed, assigned to hueniverse

[2014-11-21 14:56] kanongil opened #277 "Errors thrown in after & afterEach can cause immediate exit with code 0"
[code]

**Expected result**
Exit with non zero code and some console output.

**Actual result**
Exit with code 0 and some console output.

The error means that automated systems will incorrectly think that all tests successfully passes.

[2014-11-24 18:40] #277 closed, assigned to geek

[2014-11-27 15:02] erayarslan opened #279 "How can i access document object?"
ex: var el = document.createElement("button");

[2014-11-27 15:29] #279 closed, assigned to nobody

[2014-11-27 22:33] mateuspv opened #280 "Ignoring files in linting"
Hi, there's a way to ignore files to lint?
would be nice pass .eslintignore file to lint function.

[2014-12-12 14:36] smikes opened #282 "Make linter pluggable? (PR offer)"
Hi!

I just tried out lab and I'm really loving it, but the standard here is to use `jslint` for linting.  I'd be happy to write the code necessary to make the choice of linter be a pluggable option for `lab`.

Does that sound useful? Is there anything I should be aware of, when writing this patch?  (Beyond the CONTRIBUTING and code style guidelines, which I have read..)

[2014-12-18 20:12] iamdoron opened #284 "Why are you running the lab command from a Makefile?"
I just read the readme and I noticed you advise on writing the lab command in a Makefile. There's a bit of a problem here because then you have to specify the exact path to lab (in `node_modules/lab/bin/lab`).

I usually write a script in the `package.json` scripts section, where you don't have to specify the full path to an installed package:

[code]

You can still have a Makefile (which I'm not

[2014-12-21 12:14] lloydbenson opened #285 "Use reporters from json, support multiple reports"
I have a use case where I want to get the nice native json output (which includes the code coverage) and from that json output, use the built-in reporters to put it in various formats.  The reason, I want to use the json file as the source, is because doing lab over and over for each format can potentially give different results (think unreliable downstream dependency) but is also obviously wastef

[2014-12-26 18:23] tribou opened #287 "Lint Failures Return Exit Code Zero"
Wasn't sure if this was by design or not, but it would be helpful for CI tests to return a non-zero exit code if lint tests fail.  Currently, coverage tests return non-zero, but lint tests do not.

Windows 7
node v0.10.33
npm v2.1.16
lab v5.1.1

[2014-12-30 02:44] garthk opened #288 "self-run scripts don't generate output or respect CLI arguments"
The README documentation for `schedule` suggests lab 3.x style self-run scripts should work. They do, in that they run the tests and exit with a status code. They don't, in that they don't generate output and ignore command line arguments including `--id`, `--verbose`, and `--reporter`. Both output and options worked in self-run scripts in lab 3.x. Is their omission undocumented, or unintended?

[2014-12-31 06:26] blundin opened #289 "False result on code coverage for assignment with logical OR"
This line of code fails code coverage:
[code]
with this passing test in place:
[code]
If I change the line of code to:
[code]
the code coverage passes.

Using Hapi 8.0.0 and Lab 5.1.1

[2015-01-01 22:15] Marsup commented on #289
Well yes, you tested the 1st part of the operator, not the 2nd, so it's not covered. Why do you think it's a bug ?

[2015-01-01 22:21] geek commented on #289
@blundin if you use the `html` reporter it will give you a better overview of what part is missing coverage.

[2015-01-01 22:21] #289 closed

[2015-01-02 07:08] hueniverse commented on #288
It was never meant to work in the first place. It must have been a side effect. As for what to do now, I'll leave it up to @geek.

[2015-01-02 16:11] geek commented on #288
This does seem like a bug.  Most likely we should update the readme to be clearer.

[2015-01-09 16:23] geek opened #291 "Update to eslint 0.11.x"

[2015-01-10 13:03] lloydbenson opened #292 "coverage line chunks returns false string rather than false boolean"
Here is an example when looking at the json output:

                    "74": {
                        "source": "   if (pail.scm && pail.scm.branch !== payload.scm.branch) {",
                        "chunks": [
                            {
                                "source": "   if ("
                            },
                            {
                                "source":

[2015-01-12 02:17] geek commented on #292
We also want to track if the code line will never be covered, meaning it can be deleted.

[2015-01-12 13:20] lloydbenson commented on #292
The reason this came up for me, is I am parsing out the json response.  I am using handlebars, which does pretty primitive if checks (if you want to avoid doing helpers).  In order to check which chuck of the line is failing I was checking to see what the miss was.  In this case if (misses) is matched because its the string 'false' rather than just regular boolean false.  It still seems like you'd

[2015-01-12 20:58] #292 closed

[2015-01-12 22:52] KeKs0r commented on #273
Facing the same issue. I am wondering how you solved it.

[2015-01-12 23:24] 58bits commented on #273
Hi @KeKs0r  - unfortunately I haven't been able to get back to this, and have left this particular set of tests as is, with try/catch blocks around `Code.expect` statements.

[2015-01-17 02:31] jedireza opened #294 "More details from a domain exception"
Recently I was getting an error:

[code]

Which proved tricky to track down. I eventually opened up the local `./node_modules/lab/lib/runner.js` and added some debug info to the [domain error handler](https://github.com/hapijs/lab/blob/master/lib/runner.js#L390-L393):

[code]

In my case, it turned out there was a `setTimeout` that wasn't being cleared before the test finished. So maybe that's why

[2015-01-19 15:20] k-sheth commented on #79
I am not sure if this made it into some release or not. If it did, would appreciate pointing me to a test case / doc that shows how it works. I have been yo-yo ing between mocha and lab because of domains/exceptions and promises.

thx

[2015-01-21 14:09] Marsup opened #296 "Lab's tests with node 0.11"
While doing a PR, I noticed that lab's own tests won't run at all with node 0.11, many failures, it crashes the test suite before the reporter can tell anything about it.
I don't have time to investigate but I'll take it later if nobody volunteers.

[2015-01-21 19:00] cjihrig opened #297 "Add Intl global"
Node has introduced a new global `Intl` (see 0.11.15). Right now this is causing failures due to detected global leak.

[2015-01-21 19:05] gergoerdosi commented on #297
See @Marsup 's PR: https://github.com/hapijs/lab/pull/295

[2015-01-21 23:17] geek commented on #297
Closed via #295

[2015-01-21 23:17] #297 closed

[2015-01-26 13:49] gagle opened #298 "Ignore coverage for certain functions"
With comments `$lab:coverage:off$` and `$lab:coverage:on$`we can exclude pieces of code but I need to exclude function calls.

Inside the test file I `require()` other files in order to set up the test and I'd like to ignore this function calls.

In other words, I'd like to enable the coverage for the code inside `lab.it()`. Is that possible?

[2015-01-27 00:59] KeKs0r opened #299 "Show runtime for before(), after() etc."
Hi,

I have an ever growing test suite of currently almost 100 test cases. They already take around 5 seconds. I would like to see where they spent there time. Unfortunately most of the "heavy lifting" is done in before() Hooks and then I just have a lot of assertions against the result. I would like to know if there is a possibility to not only show the runtime of single tests (with -v), but also

[2015-01-27 18:35] geek commented on #299
If you can come up with a pretty way to display the information I'm open to a PR.  But you may be better off just adding timers at the beginning and ending of your before and after.

[2015-01-28 12:28] KeKs0r commented on #299
Maybe as an additional "verbose option", so with -v you get the current version and then only add those runtimes when the test script is run with -vv.

Also from a plain formating perspective

[code]

So Basically an additional Section to see how long these additional hooks take. Then splitting it up, for which expirement they were run and also indicating for the \*Each functions how often they we

[2015-01-28 15:45] lloydbenson commented on #299
Just wanted to mention, if you do end up implementing something please
include it in the json reporter as well (not just the console).

On Wed, Jan 28, 2015 at 6:28 AM, Marc Höffl <notifications@github.com>
wrote:

[2015-01-28 16:20] csrl opened #300 "do not truncate values in output"
I have a simple test that asserts:

[code]
And when it asserts I get something like:
[code]
Which doesn't help me understand what failed.  So I have to go back into the test case, add a debug line like
[code]
and then rerun the tests to actually see what is going wrong.  It'd be nice if the value was not being truncated like that.

[2015-01-28 17:14] csrl commented on #300
I guess this is actually a hapijs/code issue

[2015-01-28 17:14] #300 closed

[2015-02-04 09:35] gagle opened #301 "Global before() and after() hooks"
I'd like to perform some setup tasks before all the tests are executed and teardown tasks after all the tests finish. Right now I'm opening and closing a connection to mongodb for each test file and I'd like to do this only once.

I'd like to have some kind of cli switch where I could pass a file which exports setup and teardown functions, something like:

[code]

[code]

[2015-02-05 08:14] KeKs0r commented on #299
Ok if ill do it, I try to consider other reporters as well. Im just very new to node in general and need to find some better understanding of it and the ecosystem first

[2015-02-05 08:21] KeKs0r opened #302 "Testcase should fail with uncaught exceptions"
I am not sure if everyone agrees, but I would think that uncaught exceptions should cause an testcase to fail. I also dont know if this can easily achieved with lab. I just had testcases that passed although an exception was thrown. I only saw it in the logs.

Debug: internal, implementation, error
    TypeError: Uncaught error: Cannot call method 'create' of undefined
    at Object.ondone (d:\gam

[2015-02-06 19:04] rusticode commented on #273
Sadly, got  the same issue. Not using caching.
Any chance someone resolved that issue?

[2015-02-07 13:02] gagle commented on #301
I ended up using a programmatically approach (please document it). This also allowed me to have control over the `coveragePath` and `coverageExclude` (https://github.com/hapijs/lab/issues/298). Why are you hardcoding a value instead of exposing them in the cli interface?

[2015-02-07 13:02] #298 closed

[2015-02-08 15:08] #301 closed

[2015-02-08 22:44] gagle opened #303 "Allow a programmatic usage"
Related: https://github.com/hapijs/lab/issues/301

I'm trying to run the tests programmatically and after looking to the source files I've ended up writing a [module](https://github.com/gagle/node-labby).

I need to execute a "global" very slow task. Before using this programmatic approach, the "global" task was executed for each test and the tests were executed in 1700ms. Now the "global" task is

[2015-02-08 22:49] gagle opened #304 "Remove linters"
Unit tests should test the program itself, not the syntax. Linting is typically done in a pre-commit hook. Unit test is also done in the same pre-commit hook but they are 2 completely separate things.

[2015-02-09 00:29] hueniverse commented on #304
lab is a complete testing solution that includes testing for code quality which linting provides. You don't like it, don't use it.

[2015-02-09 00:29] #304 closed

[2015-02-09 13:46] Marsup commented on #301
I'm using gulp with gulp-lab to run my tests, all it needs is ordering and it's done.
[code]
The same thing can be achieved with pure shell syntax.

Not saying your approach is wrong but it seems convoluted.

[2015-02-09 14:05] gagle commented on #301
The problem with gulp-lab is that it is spawning a child process and you cannot pass objects. I the before hook I set up a database connection, it is used in the tests and is disconnected in the after hook.

[2015-02-09 14:06] Marsup commented on #301
That's exactly what I'm doing, creating globals in the before and destroying in after.

[2015-02-09 15:45] gergoerdosi commented on #301
@Marsup How does your before hook look like? Can you share some code? I would be interested in a bootstrap file too. The best would be if objects could be assigned to the global namespace (like server for `server.inject()` calls) before the test suite runs. I would also like to move the `var before =`, `var describe = `, etc. declarations out of the test files.

[2015-02-09 15:55] Marsup commented on #301
It looks the same as any test.

Currently it's similar to that : (sorry, ES6)
[code]
Subsequent tests just have to call `foo` :

[code]
Gotta remember to remove that at the end though :
[code]

Maybe there are better ways, this one works for sure.

[2015-02-09 15:58] gagle commented on #301
Please, look at this issue: https://github.com/hapijs/lab/issues/303

What we really need is a programmatic way to use `lab`.

[2015-02-09 16:07] gergoerdosi commented on #301
@Marsup I see, thanks!

[2015-02-09 16:15] Marsup commented on #301
@gagle I noticed this issue, that's why I completed this one, I don't see the need for it.

[2015-02-09 21:38] motdotla commented on #294
:+1: I ran into this as well.

[2015-02-10 05:42] jmonster opened #305 "passing flags to node"
I'm looking for a way to pass `--es_staging` to the underlying node process in order to enable ES6 features: https://iojs.org/en/es6.html

Is there an existing way to do this that I've overlooked?

[2015-02-10 08:40] Marsup commented on #305
What process ? Lab doesn't spawn child processes except for linting which you probably don't care.

[2015-02-10 09:33] ldesplat opened #306 "Add src level transforms"
I hacked my current copy of lab to support react's JSX syntax and I was wondering if a generalized PR for applying source level transforms would be welcome?
This would allow you to write tests but also your application using ES6 syntax & beyond, support compile to javascript languages, and extensions like JSX without using a compile step before running tests.

To enable this, a transform option wo

[2015-02-10 12:34] jmonster commented on #305
`lab test/file` is certainly using an installed `node` process, no?

[2015-02-10 12:35] Marsup commented on #306
I personally think it's out of the scope of lab and there are countless build systems, I'd rather have people deal with that on their own. Lab already supports sourcemaps which should help.

We'll see what other people think.

[2015-02-10 12:35] jmonster commented on #305
I see what you mean though... hmph.

[2015-02-10 12:37] Marsup commented on #305
The hashbang is just a shortcut, you can also run `node --es_staging ./node_modules/.bin/lab test/file`.

[2015-02-10 12:39] jmonster commented on #305
:+1: brain fart last night; thank you, sir :)

[2015-02-10 12:39] #305 closed

[2015-02-11 01:17] jedireza commented on #306
I was just talking to @geek about sourcemaps and jsx. I threw a spike together to demonstrate the `Coverage: 0.00% (0/0)` I see when trying using `node-jsx`. You can see it here:

 - https://github.com/jedireza/lab-jsx

Maybe [`node-jsx`](https://github.com/petehunt/node-jsx) isn't doing something right with sourcemaps.

@ldesplat are your modifications to lab on GitHub?

[2015-02-11 03:05] ldesplat commented on #306
@jedireza You can find them there: [https://github.com/ldesplat/lab/commit/da36d454e12b7de06d779570f6087df6297ee241?diff=split](ldesplat/lab)

I get the following output when running it in my project:
[code]

[2015-02-11 08:16] Marsup commented on #306
@jedireza I think node-jsx doesn't do anything at all about sourcemaps, which might be the problem here, and probably yours later :)

[2015-02-11 18:30] jedireza commented on #306
@ldesplat's changes do get coverage to display. https://github.com/jedireza/lab-jsx/tree/ldesplat

Sourcemaps are not my strong suit. [`node-jsx`](https://github.com/petehunt/node-jsx/blob/master/index.js) isn't very big and @ldesplat's changes don't seem very involved. How can we get this out of lab and still get this to work? Is there something we can do to `node-jsx` that would get the `--sourc

[2015-02-11 19:49] ldesplat commented on #306
@jedireza We are now going out of bounds for this issue but here's the way that I see it working with --sourcemaps feature.

Use a transpiler like [6to5](6to5.org) and AST generator like [acorn-jsx](https://github.com/RReverser/acorn-jsx) or esprima-fb. You could use them using webpack or browserify. Tell them to generate an inline sourcemap. Then, it should work. I have not tried that way yet.

[2015-02-13 21:59] ldesplat commented on #306
Since, there has not been much comment I will close this issue for now. if it bothers me again for another project, then I will make sure to revisit it. My code will continue being available in case someone wants to see how it can be hacked together.
+1 for Lab having accurate code coverage. It is so hard to find.

[2015-02-13 21:59] #306 closed

[2015-02-13 22:40] geek commented on #306
@ldesplat I was thinking about updating to Esprima 2.0 for the ES6 coverage too, will that help this case as well?

[2015-02-13 22:49] geek commented on #294
@jedireza I like the debug flag idea.

[2015-02-13 22:51] ldesplat commented on #306
@geek I am all for some ES6 coverage so it would help a bit! Moving to esprima-fb would help my case (JSX), but I think that's a stupid decision for Lab.

[2015-02-16 01:20] KeKs0r commented on #303
+1 for the global before and after hooks. I am facing similiar issues, but I have a system with multiple plugins (=folders) and every plugin has its own testsuite. I would love to see also the option to run global hooks for a folder or a certain testsuite. Although I have no idea how this could be achieved.

[2015-02-16 05:26] nickux commented on #106
Just to add my $.02, I'd really like this too. I've been hacking with require('coffee-script/register') for the past hour trying to get this to work... no luck.

Basically, unless you precompile all of your CS into JS (which I don't - I let it compile at runtime and cache on the server), you can't use Lab to test.

[2015-02-16 12:58] AdriVanHoudt commented on #291
Latest is now 0.14.1 http://eslint.org/blog/2015/02/eslint-0.14.1-released/

[2015-02-16 13:20] AdriVanHoudt commented on #296
I'm getting errors on 0.12 as well

[2015-02-16 13:24] AdriVanHoudt commented on #280
Isn't this closed by now?

[2015-02-16 13:32] AdriVanHoudt commented on #284
Is this agreed upon because then the docs should be updated?

[2015-02-16 13:33] Marsup commented on #296
I don't know what has changed but the master is now far better on this.

[2015-02-16 13:38] AdriVanHoudt commented on #296
I still get errors locally (v0.12) which don't happen on travis
[code]

[2015-02-16 13:59] Marsup commented on #296
Works for me now, I don't know what happened then.

[2015-02-16 14:01] AdriVanHoudt commented on #296
#308 reference

[2015-02-16 14:53] AdriVanHoudt commented on #287
doing something like the coverage threshold would make sense

[2015-02-16 16:57] geek commented on #287
@AdriVanHoudt @Marsup sounds like a winner to me... if something is so far off the linting style, fail it.

[2015-02-16 17:38] #284 closed

[2015-02-16 17:39] #291 closed

[2015-02-16 17:41] geek commented on #296
@AdriVanHoudt and @Marsup does this work for you now?  @Marsup added references for node versions and iojs for travis.

[2015-02-16 17:42] geek commented on #302
@KeKs0r can you provide an example of the test code.  Looks to me like this is more an issue with what the test case is checking

[2015-02-16 17:44] AdriVanHoudt commented on #296
I saw but he didn't change any code. @arb mentioned in Gitter that there
are some tests that just don't work on windows so that's probably the
issue.

On Monday, 16 February 2015, Wyatt Preul <notifications@github.com> wrote:

[2015-02-16 17:44] geek commented on #273
@58bits is this still an issue for you?  I see that @rusticode had been calling done more than once.  I am closing, but feel free to reopen if that doesn't fix the issue for you @58bits.

[2015-02-16 17:44] #273 closed

[2015-02-16 17:46] #280 closed

[2015-02-16 17:48] #296 closed

[2015-02-16 17:49] geek commented on #296
@AdriVanHoudt if you have an idea for a windows CI to use, we may be able to integrate it into the build process.

[2015-02-16 17:54] AdriVanHoudt commented on #296
I can take a look at it

On Monday, 16 February 2015, Wyatt Preul <notifications@github.com> wrote:

[2015-02-16 17:57] Marsup commented on #296
AppVeyor but it's complicated to manage permissions on it. Already using it on lout if you need an example.

[2015-02-16 20:48] #221 closed

[2015-02-17 00:02] AdriVanHoudt commented on #296
reference https://github.com/hapijs/lout/blob/master/appveyor.yml

[2015-02-17 12:10] joseph-norman opened #309 "Teamcity reporter integration?"
Since there's a number of reporter types already available in lab ( `console, tap, lcov, clover, ...`), would it be an option to include a teamcity CI reporter? Can create PR if so.

[2015-02-17 15:02] Marsup commented on #309
It would probably be better solved with #216.

[2015-02-17 15:54] joseph-norman commented on #216
Sounds like something pretty achievable. I think the best case would be to add an `external` property to the list of reporters included in `index.js` internals, like so:-

[code]

A simple check to see if the external path exists or not could be done afterwards to see if it has been changed or not.

[2015-02-17 16:10] joseph-norman commented on #216
Will submit a PR with a potential fix for this

[2015-02-17 17:15] joseph-norman commented on #216
Just a thought, an alternative could be passing in a file to the `--reporter` flag when lab is ran at command line (like `lab --reporter yourReporter.js`). And so if the reporter flag value is a file (through some common checks) then to use that. Thoughts?

[2015-02-21 13:44] KeKs0r commented on #302
I think u are right i was not able to reproduce this in plain lab. Its probably because the error was not further populated in my application.

[2015-02-23 23:19] #302 closed

[2015-02-24 05:19] larsenjh commented on #288
The output works fine if you pass in { output: process.stdout } in the first argument of script(). You can basically mimic most of the cli switches with the main config object there.

[2015-02-24 16:30] feugy opened #312 "Support multiple reporters"
We're trying to use lab output into a forge where
- Jenkins needs junit file report
- Sonar needs lcov file report.

It could be very nice to allow specifying multiple reporters, because today, the only option I have is to run tests twice with a different configuration.

Mocha has the [same feature in progress](https://github.com/mochajs/mocha/pull/930), mainly for the same reasons.

[2015-02-24 16:38] lloydbenson commented on #312
I think this is a dupe of https://github.com/hapijs/lab/issues/285.

[2015-02-24 16:39] feugy opened #313 "Support multiple linter"
Adding the possibility of calling a linter is a very interresting option.
But we need several linters:
- [jsHint](http://jshint.com/docs/) for "compiler-style" validations
- [jsCS](http://jscs.info) for "code style" validations
- [jscpd](https://github.com/kucherenko/jscpd) for "duplicated code" checks
- ...

Currently, we are calling linters independently from lab, it would be very nice to use th

[2015-02-24 17:24] AdriVanHoudt commented on #313
Related? https://github.com/hapijs/lab/pull/290

[2015-02-24 20:25] #312 closed

[2015-02-25 03:17] garthk commented on #288
Is there a one-liner to call lab's CLI parsing to get the options argument for script()? From my quick look, `lib/cli` hides it as `internals.options`.

[2015-02-25 22:23] KeKs0r commented on #216
+1 and I would actually prefer to have it configurable form code as well as from CLI.

[2015-02-26 07:23] garthk commented on #294
I've found [stackup](https://www.npmjs.com/package/stackup) immensely helpful for tracking down stray domain errors reported by lab.

[2015-03-02 00:14] tjsail33 opened #315 "Leak Checking Output"
I'm confused by the output of the leak checking being run, which is `The following leaks were detected:$M, $P, $V, $L`.

Do any of you know what those symbols mean? I couldnt find them mentioned anywhere in this repo.

[2015-03-02 01:41] cjihrig commented on #315
Those symbols are from the code that is being tested.

[2015-03-02 16:47] #315 closed

[2015-03-03 01:19] garthk commented on #294
Aand, just had to use @jedireza's `lib/runner.js` hack.

[2015-03-03 10:35] jzorn opened #319 "--output should create given directory tree"
Issuing the command `lab -a code -r html -o docs/coverage.html` should create the docs folder, if it doesn't exist; lab@5.2.1 fails with an exception:
[code]

[2015-03-03 18:46] #294 closed

[2015-03-03 19:42] jedireza commented on #294
We can now use the `-d`, `--debug` flag. If you can, please give it a try with the use cases you've come across and send feedback and change requests if needed.

[2015-03-04 16:08] #319 closed

[2015-03-04 16:17] geek commented on #313
@feugy we do support jshint.  We don't use the other ones you mentioned.  With eslint you can achieve a lot of code style rules.  Are you interested in adding in jscs?

[2015-03-04 16:22] Marsup commented on #313
@geek I think he meant multiple linters at the same time.

[2015-03-04 16:24] geek commented on #313
Ahh, thats a cool idea.  We could probably do that, but is it useful/worth it?

[2015-03-04 16:25] AdriVanHoudt commented on #313
Make it an option?

[2015-03-04 16:27] Marsup commented on #313
It is for us. (we're in the same team)

This needs to be well thought if we introduce thresholds for linters.

[2015-03-04 16:29] Marsup commented on #313
@geek what would you think of the ability to provide a (json ?) configuration file to lab ? I like it way better than the #321 you just merged.

[2015-03-04 16:29] geek commented on #313
Sounds like you have a pretty awesome team if you two are on it!

I am for it... definitely open to a PR for this feature.

[2015-03-04 16:30] geek commented on #313
@Marsup that seems to be the direction we need to go, `.labrc` or a config being passed in?

[2015-03-04 16:32] Marsup commented on #313
Something like that yes, the CLI is a mess with all those switches. I don't know if it's better to have it implicit or explicit though.

[2015-03-04 16:54] AdriVanHoudt commented on #313
I like the `.labrc` way. Keeps the `npm test` commando clean for example.

[2015-03-04 17:23] ldesplat commented on #313
+1 to a way to specify a configuration file or implicit `.labrc`. Does not matter much to me. There are just too many configuration switches!

@Marsup for #321 I was working with what I had. I agree it's not pretty :(

[2015-03-04 17:30] geek commented on #294
@garthk and @jedireza this is now published as lab v5.4.0

[2015-03-04 17:31] jedireza commented on #294
:grin: nice

[2015-03-04 18:48] Marsup commented on #313
@ldesplat I know I know, nothing personal :)

Should we completely drop the CLI and go file-only ?

[2015-03-04 19:05] AdriVanHoudt commented on #313
How would you run different configs of lab? e.g. with html output or not.
Add options in the config file? leading to running `lab html` or `lab default`, both `html` and `default` would be keys in the config.

[2015-03-04 19:18] motdotla commented on #294
Thanks for this. :100:

[2015-03-04 19:57] #216 closed

[2015-03-04 19:57] #309 closed

[2015-03-12 12:53] Marsup commented on #313
Different files ? Environment ? Override file settings with CLI switches ? There are solutions, I don't know if we need to have several though.

[2015-03-14 02:43] ldesplat opened #325 "Catching async thrown errors & validating"
I needed to catch a thrown error from an async method. I have the following test that does works somewhat with very bad errors because Code throws its own errors which are caught by our own domain! I am probably cleaning up the domain all wrong too.

I was wondering if anybody has any hints on how to solve such a scenario?

PS. I have removed all thrown code as much as I can so I don't need this a

[2015-03-14 09:02] Marsup commented on #325
You don't need the final exit.

[2015-03-15 18:31] nlf opened #326 "Update eslint to 0.17.0"

[2015-03-15 21:51] #326 closed

[2015-03-16 14:15] tribou commented on #303
:+1: for this issue unless there's a better architecture...

For instance, to do Sails.js testing, the following bootstrap file is recommended to use with mocha: https://github.com/balderdashy/sails-docs/blob/master/concepts/Testing/Testing.md#bootstraptestjs  But I can't find any info about `bootstrap.test.js` in the mocha documentation.

However, would it be possible/better to just instantiate a

[2015-03-16 21:52] tribou commented on #303
Created a workaround with a `/test/bootstrap.js` file:

[code]

And an example of a test that uses it:

[code]

[2015-03-17 19:59] bkendall commented on #214
:+1: would be nice to have large test suites stop quickly on an early failure

[2015-03-18 22:13] duro opened #328 "Debugging with node-inspector"
I seem to be unable to debug lab tests with node-inspector. With mocha, you can pass the --debug-brk flag to the test running and it will start the debugger.

If I do the same with lab:

[code]

I get the following error:

[code]

Any idea how I can get lab tests debugging the same way I can in Mocha?

[2015-03-19 01:11] arb commented on #328
Try

[2015-03-20 00:25] hofan41 commented on #285
Agree with this issue. Currently I need to upload an lcov file to coveralls but also display the test output results to console so I can have a record of the test report. This is important because if my only reporter is lcov and my test run fails, there is no output to the console with the test failure details.

[2015-03-21 19:29] tunnckoCore opened #329 "coverage ignore?"
Any way to ignore some lines from coverage?

btw, awful codebase!

[2015-03-21 19:40] AdriVanHoudt commented on #329
Not that I know of, you should always go for 100% coverage and otherwise you can lower the threshold.
Also don't expect to much help if you are telling people their code base is awful!

[2015-03-21 19:52] tunnckoCore commented on #329
Yea I see the `-t` option, but it seems that it not works.
[code]

[2015-03-21 20:18] gergoerdosi commented on #329
You can ignore lines by adding `$lab:coverage:off$` and `$lab:coverage:on$` around the code.

[2015-03-21 20:26] tunnckoCore commented on #329
@gergoerdosi  without comments?

[code]

[2015-03-21 20:28] tunnckoCore commented on #329
doh.. right within comments.

awful.

[2015-03-21 20:28] #329 closed

[2015-03-21 20:28] gergoerdosi commented on #329
No, within comments. Sorry, forgot to mention that.

    // $lab:coverage:off$
    return got.get(api, opts).then(function _then(res) {
        var body = JSON.parse(res[0]);
        return body.token;
    });
    // $lab:coverage:on$

[2015-03-21 23:12] geek commented on #329
@tunnckoCore please explain what is awful.

[2015-03-21 23:56] tunnckoCore commented on #329
@geek Code ordering and entire logic.

In my case as normal developer I decide to look over the docs and through code directly and follow it, before open an issue. Always when I should review some hapijs org repo/lib a freak out, lol. :-D But the ideas are good. I like lab, bossy, code and principles behind them, but I dont like the code behind them.

So.. I decide to look what lab doing when we p

[2015-03-21 23:57] tunnckoCore commented on #329
I would be good to export the coverage tool.

[2015-03-22 00:50] geek commented on #329
Please log an issue for the code flow problem you see in transforms and we can try to refactor it some.

[2015-03-23 03:36] garthk opened #330 "Upgrade eslint or permit custom lint adapters"
I'd like to use `lab` in `prepublish` to enforce both tests and style, but it wants `eslint` version `0.14.x` rather than the most recent `0.17.1`. Any chance of an upgrade?

I'll settle for `lib/lint` forking with `path.resolve(settings.lintingPath, settings.linter))` as the first argument if that value passes `path.existsSync`.

[2015-03-23 08:02] AdriVanHoudt commented on #330
Try just updating the package.json to 0.17.x and see if it breaks. If not the PR should be super easy

[2015-03-23 08:09] Marsup commented on #330
It would be far easier for us if ESLint reached 1.x, which doesn't seem to be that far if their milestone is correct. I'd say this problem is only temporary and leave it at that.

[2015-03-23 08:18] AdriVanHoudt commented on #330
w8 I did a PR for 0.17.x https://github.com/hapijs/lab/pull/327

[2015-03-23 13:57] toymachiner62 commented on #73
Mocha has this feature and it's great b/c I do not have to have a grunt task to watch the file. I can just call `$ mocha my-test.js -w` and it automatically watches the file for changes. :+1:

[2015-03-23 15:05] toymachiner62 opened #331 "How to throw an error in a "before" block"
I'm trying to throw an error and not run any of my tests if my before block fails.

This doesn't not seem to work as it never gets to the `done()` call in the `fail` block. Any suggestions on this?

[code]

[2015-03-23 15:20] AdriVanHoudt commented on #331
try
[code]

[2015-03-23 15:20] toymachiner62 commented on #331
Bingo! Thanks.

[2015-03-23 15:20] #331 closed

[2015-03-23 15:20] Marsup commented on #331
It's caught by the promise itself, lab works as intended.

[2015-03-23 16:07] tunnckoCore opened #332 "using `espree` or `acorn` instead of esprima"
Hi again. When try to run koa tests it fails because esprima not support generators and many more features actually. So i tried to replace esprima with `espree` and it works without any changes, because it's almost 100% compatible with esprima - actually it is a fork.

[code]

**list of es6 features..** or https://github.com/eslint/espree
[code]

[2015-03-23 16:19] tunnckoCore opened #333 "`--lint-options` to be defined as filepath, not JSON string"
How you see to define my all 20 lines jshint config as JSON in console, actually in package.json scripts object (`npm test`)? Yea there is a tricky way, but its enormous..

[2015-03-23 16:46] Marsup commented on #332
I'd vote for espree considering the way the project is lead.

[2015-03-23 16:57] ldesplat commented on #333
Specify a .jshintrc file in your project. You can use --lint-options if there are any options that cannot be passed through the .jshintrc file.

Issue #313 although it has a different title, also touches on a unified config file for not just lint-options but all of lab's options.

[2015-03-23 17:12] ldesplat commented on #329
require.extensions is a way to extend nodejs' way of require files. In the case of coverage support, we need to instrument the code and therefore inject code into each file before it is compiled. So, this is the basic case for coverage, but also Lab now supports transforming or transpiling your code through the `-T` option. So, to also support that use case with and without coverage support, we ne

[2015-03-23 17:27] tunnckoCore commented on #332
yea, looks great :+1:

[2015-03-23 18:35] geek commented on #332
Thoughts on esprima v2 ?

[2015-03-23 18:39] tunnckoCore commented on #332
[code]
seems not enough? not solves my use case

[2015-03-23 19:25] geek commented on #330
Published lab with the eslint 0.17.

[2015-03-23 19:25] #330 closed

[2015-03-23 19:26] AdriVanHoudt commented on #330
ok that solved it prob :D

[2015-03-26 21:07] ldesplat commented on #325
Thanks. I guess it's very much an anti-pattern to do so, so it's not so bad it's hard to test.

[2015-03-26 21:07] #325 closed

[2015-04-03 11:48] k-sheth commented on #332
+1 for either espree or esprima2. not using generators, but let, const, arrow functions... the basic good stuff

[2015-04-07 17:42] dminkovsky opened #337 "Skipped tests should have their beforeEach() skipped too?"
When tests are skipped, their beforeEach() runs anyway. This doesn't make sense to me. Thank you!

[2015-04-08 15:15] romeovs opened #338 "Source maps show wrong lines"
I'm using `lab` for a small project and it's working very good.

I'm using running the test coverage with a custom `babel` transform (taken from the example
of the README):

[code]

The displaying of the uncovered lines seems off though, an seems to be shifted by 6 lines (as can be seen [here](https://coveralls.io/builds/2291010/source?filename=src%2Fimmutable.js)).

What can I do to fix this?

[2015-04-08 16:46] ldesplat commented on #338
I does not look like the Lab's lcov reporter takes the sourcemaps output into consideration like the console or html reporter.

It should be looking at line.originalLine amongst other things.

[2015-04-08 17:02] Marsup commented on #338
The files are also wrong in the console reporter since a few releases.

[2015-04-08 17:29] romeovs commented on #338
@ldesplat I also have the same problem with the `html` reporter.

[2015-04-08 18:06] ldesplat commented on #338
@romeovs Drag your browser page from the html report to the right. There are two extra columns that show the file it comes from and the real line number. I agree the html report is not optimized for the transform use case where there is a 1 to 1 mapping from source to transformed.

[2015-04-08 23:05] romeovs commented on #338
@ldesplat I do not see what you mean. This is what I see:
![screen shot 2015-04-09 at 01 04 27](https://cloud.githubusercontent.com/assets/1250185/7057279/6a79a01c-de54-11e4-8aca-25ab89b3d3a7.png)

Do you mean the rightmost column?

I'm talking about the fact that line 41 is marked for example, while there is clearly not much to test there.

[2015-04-08 23:21] ldesplat commented on #338
@romeovs Yes, that's what I meant. Indeed it highlights line 41 for example, but then it says it's actually line 36 on the right. So it is reject(err); that is not covered.

That's what I meant by the html reporter not being very good for this use case.

[2015-04-08 23:26] romeovs commented on #338
Ok maybe it would be nice to have an option to make the red lines over the original code? This is much more intuitive to me since to code shown is the original code, not the compiled code.

Also how should I interpret the following:
![screen shot 2015-04-09 at 01 22 47](https://cloud.githubusercontent.com/assets/1250185/7057558/2df52316-de57-11e4-8f6a-9a5184b6ffc3.png)

Here you see line 10 before

[2015-04-09 03:17] ldesplat commented on #338
Yeah, I agree the html report needs some modifications to make it support that use case.

I have no idea how to help you with this last screenshot. I have seen similar behavior but it was not as glaring as what you have there. It's obviously looking like a bug but I don't know where it comes from.

[2015-04-09 13:45] MathieuLoutre opened #340 "Different test results with coverage option"
I've spent a few hours investigating this and I'm really not sure where it comes from. I'm using CoffeeScript, compile it to JavaScript and then run the tests with `lab 5.1.x`.

Here's the CoffeeScript code:

[code]

It compiles to this:

[code]

When running with:
`lab unit.js -m 0`

I get this very sensible output:
[code]

But when running the tests with this command:
`lab unit.js -m 0 -c -r con

[2015-04-09 16:34] Marsup commented on #340
Best way to debug that case is to see the code once transformed for coverage, maybe the problem is the comma.

[2015-04-09 17:05] MathieuLoutre commented on #340
I thought I had seen the transformed code somewhere a while ago, but it doesn't seem to be there anymore. What's the best way to access it?

[2015-04-11 02:02] bkendall commented on #285
:+1: this is something that I've hit a couple times, and it would be amazing to have :)

[2015-04-14 13:13] danielb2 opened #343 "Leaks in 0.12.2"
[code]

outputs

[code]

The leaks are not expected

[2015-04-14 13:30] Marsup commented on #343
Looks like a very old lab, this was fixed months ago.

[2015-04-14 14:15] #328 closed

[2015-04-14 14:20] #333 closed

[2015-04-14 14:26] hueniverse commented on #337
Can you provide a short example?

[2015-04-17 01:33] cjihrig commented on #343
Yes, this is fixed:

[code]

[2015-04-17 01:33] #343 closed

[2015-04-17 20:06] bkendall commented on #337
I've hit this issue in my testing before, so I hope I can shed some light on it for you, @hueniverse.

Say I have a test file as follows (the important parts):
[code]

Running `lab --verbose` gives the following output:
[code]

Now, if I want to run the second test alone, I expect that the `before` and `after` functions for the first would not run. I find that's not the case, however:
[code]

It s

[2015-04-17 20:14] tjmehta commented on #337
@bkendall hit it spot on

[2015-04-18 16:07] hueniverse commented on #337
@bkendall This is not the same issue as the one reported above. Your issue is that lab doesn't check if a `describe()` section is empty before executing before/after actions. The issue reported here originally is about `beforeEach()` which has different logic and should not run.

Solving the empty `describe()` section is a bit more involved because there can be many nested sections. To solve it cl

[2015-04-18 17:32] AdriVanHoudt commented on #337
@hueniverse is there a reason why you don't use the before/after features?

[2015-04-18 22:25] hueniverse commented on #337
@AdriVanHoudt because it makes tests too reliant on external conditions and over time the setup and teardown adds up and gets abused. I like each test to be completely atomic and separate without any dependencies. It allows me to move tests around without having to worry about any dependencies. I just much rather do a bit more work setting up common test utils or just a bit of repeating setup than

[2015-04-18 23:23] AdriVanHoudt commented on #337
@hueniverse seems reasonable, thanks for the thorough explanation!

[2015-04-20 15:31] geek commented on #340
@MathieuLoutre are you running the CoffeeScript code through coverage or the transpiled version?

If you aren't already, can you change to the JavaScript form and see if the issue is reproduced, just to narrow it down.

[2015-04-20 15:34] geek commented on #338
@romeovs the fix for the line numbers is now published in lab 5.6.0.  What is still outstanding with this issue that we need to fix?

[2015-04-20 15:35] MathieuLoutre commented on #340
Thanks for having a look @geek, I'm running the transpiled version. I'm compiling the CoffeeScript first, then running the tests all in JavaScript. The problem definitely happens when CoffeeScript generates this line `if (ref = o.status, indexOf.call(rejected, ref) >= 0) {` because `rejected.indexOf(o.status) >= 0` works like a charm.

[2015-04-20 15:40] geek commented on #337
I am open to this change, it will require some rework of how we calculate empty describe sections as Eran mentioned.  Like him, I too avoid before/after completely... but since we have them we might as well get them right :)

[2015-04-20 20:39] anandkumarpatel commented on #214
:+1:  would reduce our test time drastically

[2015-04-20 20:56] #332 closed

[2015-04-20 23:20] tunnckoCore commented on #332
@geek awesome! :)

next step, externalize the coverage stuff, haha

[2015-04-23 10:44] starhawkhkk commented on #106
It'd be great to be able to serve js files to frontend that are compiled on the fly.

[2015-04-23 10:47] starhawkhkk commented on #106
Don't you guys think Hapi should marry Harp?

[2015-04-23 15:31] KyleAMathews commented on #106
Transpiling is supported now. Search on the README for `coffee`

[2015-04-23 18:13] geek commented on #106
@nickux and @linjunpop as @KyleAMathews points out, lab now supports CoffeeScript, JSX, and others :)

[2015-04-23 22:22] hofan41 opened #348 "Add some more rules to ESLint"
I would like to add two new rules to ESLint that should help cut down on a lot of style errors I have been encountering while submitting PR's.

[`space-before-function-paren`](http://eslint.org/docs/rules/space-before-function-paren) enforces a space between function and (...)

[`func-style`](http://eslint.org/docs/rules/func-style) enforces functions to be defined via assignment instead of declar

[2015-04-24 02:24] linjunpop commented on #106
:fireworks:

[2015-04-24 18:43] #348 closed

[2015-04-25 10:49] romeovs commented on #338
On `5.7.0` it now just shows the transformed code in the html reporter, which is also not what we want I think.

However, I do not see directly how it can be done differently.

[2015-04-25 18:59] ldesplat commented on #338
@romeovs Yes, it was the easiest way of making it behave at least a bit better.

The way the live transforms are done right now, is there is 1 source file for 1 output file. But a lot of tools, may actually move code around or put file together. It makes it a lot harder to show just the original code in the reporters. So, if we add specific logic to the transform path in lab in the reporters then

[2015-04-26 15:10] apipkin opened #351 "npm ERR! Exit status 1 when threshold is not met"
Possible duplication of #95.

I was getting an `npm ERR! Exit status 1` when using `lab -t 100` and having less than 100% coverage.

Being that this was my first test, I wanted to see the output. After seeing the error message, I went to the internet to search for the cause of the problem and couldn't find anything leading.

I then went to the IRC Channel and Marsup was able to quickly point me to

[2015-04-27 15:23] #287 closed

[2015-04-27 15:25] #351 closed

[2015-04-27 17:45] roelof1967 opened #353 "wierd output on 5.8.0"
Hello,

When I have this file :

[code]

and I do npm test I see this output:

[code]

How can I made no trailing spaces and have 8 spaces on the same line.

Roelof

[2015-04-27 17:54] hofan41 commented on #353
lib/authentication.js and test/authentication.js are two different files, so your statement regarding "no trailing spaces and have 8 spaces on the same line" are incorrect because they are in different files.

Also, a trailing space is a space that appears at the end of the line, while an indent space is a space that appears at the beginning of the line, they are two different concepts and it is p

[2015-04-27 18:17] roelof1967 commented on #353
oke, you are right. I will close this one.

[2015-04-27 18:17] #353 closed

[2015-04-29 04:54] garthk commented on #337
Either that, or it's time for lab 6.0.0. `<dive-for-cover />`

[2015-04-29 04:56] garthk commented on #299
While you're working on that part of the API, more verbose logging of crashes in `before` et al and errors returned via the `done` callback would also be nice.

[2015-04-29 17:01] geek commented on #337
@garthk we won't remove them, no worries about that.  I agree, we need to get it working correctly.  As we don't use them, the priority for fixing it is a little lower.  https://github.com/hapijs/lab/issues/264 is one of the next enhancements I want to tackle.

[2015-05-04 10:56] pkyeck commented on #305
for me
`node --harmony ./node_modules/.bin/lab`
works, but
`node --harmony ./node_modules/.bin/lab -t 100`
throws an error, saying:

[code]

seems like the coverage options doesn't like `harmony` stuff ...!?

[2015-05-04 18:23] Marsup commented on #305
I get the same error running this code outside of lab, I'd say it's unrelated.

[2015-05-04 20:16] pkyeck commented on #305
I don't get it, you ran what code outside of lab?

[2015-05-04 20:26] Marsup commented on #305
Just using let. That keyword doesn't seem to be supported by node yet.

[2015-05-04 20:34] pkyeck commented on #305
It is - behind the `--harmony` flag at least.

So when I call

[code]

everything runs as expected - but when I add the `-t 100` part for test coverage, I get the abovementioned error. And I was wondering why.

[2015-05-04 20:47] ldesplat commented on #305
On https://github.com/hapijs/lab/blob/master/lib/coverage.js#L208
Change the options passed and add ecmaFeatures: { blockBindings: true }
Note that I don't know if it will work properly but it will parse :)

I think there is an issue somewhere to make this configurable...

[2015-05-04 20:52] pkyeck commented on #305
ok, will try that. thanks :+1:

[2015-05-04 22:04] Marsup commented on #305
Sorry but flag or no flag, let doesn't work on either node 0.11 or 0.12, and it gives me exactly your error, so you'd better check that first.

[2015-05-04 22:53] ldesplat commented on #305
@Marsup you have to be in strict mode
[code]
Then run `node --harmony test.js`

[2015-05-04 23:14] Marsup commented on #305
Then maybe lab also changes that 1st line, making it non-strict, that would explain having the same error.

[2015-05-05 08:58] Marsup commented on #305
PR done, just have to wait for @geek now :)

[2015-05-12 06:12] corbinu opened #355 "Error when running lab with coverage on babel compiled code"
So I have a bit of code compiled with babel and not sure if this is a lab or babel issue so will cross link issues. Lab runs fine with out coverage but get this error with coverage enabled:
[code]
Here is the compiled source
[code]

[2015-05-12 06:13] corbinu commented on #355
https://github.com/babel/babel/issues/1505

[2015-05-12 08:28] corbinu commented on #355
According to @sebmck this is a lack of loop label support

[2015-05-12 14:29] Marsup commented on #355
Fixed in my branch, waiting on @geek to merge #354 to PR. (to avoid conflicts)

[2015-05-12 15:48] #355 closed

[2015-05-12 18:38] corbinu commented on #355
Thanks!

[2015-05-14 01:19] tjmehta opened #357 "afterEach's run in unnatural order"
Test.js
[code]

Output
[code]

IMO afterEach's should run in the same order as after's so that tests
can be cleaned up from the inside-out.

[2015-05-14 17:09] bkendall commented on #357
:+1:

[2015-05-15 17:36] anandkumarpatel commented on #357
+1 I also have this issue

[2015-05-15 21:45] jmonster opened #358 "unable to test when employing template strings"
I'm enjoying some ES6 fanciness, e.g:

[code]

However, Lab can't process this:

[code]

So I've altered my `package.json` to pass in the necessary `--use_strict` argument that is needed to unlock this feature:

[code]

But once I do this, I encounter a new problem:
[code]

Of course if I drop `--coverage`, everything runs to completion just fine.. thoughts?

[2015-05-15 22:05] Marsup commented on #357
Instead of bringing the whole runnable org here to +1, maybe you could fix it with a PR, it would go a lot faster ;)

[2015-05-19 07:59] hueniverse opened #361 "Lint option -L should fail test if any linting problems are found"
Not sure what's the story with all the --lint extra flags but the default should be the strict case.

[2015-05-19 08:03] AdriVanHoudt commented on #361
I would also prefer this case, but maybe leave an option in to disable it(not sure why you would but someone is gonna want it)

[2015-05-19 08:23] Marsup commented on #361
It would probably have broken many projects tests, including ours, but it's a reasonable choice.

[2015-05-19 20:16] #361 closed

[2015-05-19 21:03] #357 closed

[2015-05-19 21:04] #358 closed

[2015-05-20 15:53] jmonster commented on #358
Hey @geek thanks for taking a look at this, but I'm still having the issue -- although without any mention of `__$$labCov`:

[code]

If I simply remove all usage of template strings in my code [by commenting them out], this command runs to completion just fine.

[2015-05-20 16:00] geek commented on #358
@jmonster I think we will want to change our options when we call espree to be tolerant of parser errors.  I will log an issue

[2015-05-20 16:01] geek opened #363 "Be more tolerant of espree parser errors"
related https://github.com/hapijs/lab/issues/358

Try with tolerant: true or simply parse template strings.

[2015-05-20 18:01] Marsup commented on #358
@geek This is probably more a matter of enabling espree ES6 feature here.

[2015-05-21 13:43] danecando commented on #303
+1 and thanks for sharing @tribou

hapi promotes splitting up functionality into smaller plugin units so it would make sense to be able to include your tests in a single plugin and test all your plugins at the same time from your project root

[2015-06-02 23:00] chrisinajar commented on #73
This is a very very useful feature for anyone doing TDD. A lot better than cmd+s, alt+tab, up, enter... :+1:

[2015-06-03 06:58] jzorn commented on #73
How about using [fsmonitor](https://www.npmjs.com/package/fsmonitor)?

[2015-06-03 17:36] chrisinajar commented on #73
There are a hundred tools to do it, I'm using nodemon personally, but why not just build it in with a flag? Since most people are coming from the mocha world, matching their feature set isn't a bad objective.

Lab solves so many problems for you, and then just has this 1 random broken window where you have to solve it yourself. It'd be different and I would understand if the project philosophicall

[2015-06-03 18:07] jzorn commented on #73
Why would you implement something that can already be done using tools that
specialize in solving this particular requirement? I personally prefer to
keep my choice of tool when I change my test runner ...
On Jun 3, 2015 7:36 PM, "Chris Vickery" <notifications@github.com> wrote:

[2015-06-03 20:45] AdriVanHoudt commented on #73
you can run `fsmonitor -s -p '+*.js' npm test` and I'll do the trick for you, you can even put that in a npm command like `npm run watch`

[2015-06-03 21:15] Marsup commented on #73
If you use gulp/grunt/... like all the kids these days, it also already does that for you.

[2015-06-04 07:07] dazld commented on #73
please lock this, it was an off the cuff thought, and repo owners have already replied.

solution: can use any of the myriad task runners as @Marsup mentions.

[2015-06-10 08:15] hueniverse opened #369 "no-catch-shadow"
https://jslinterrors.com/value-of-a-may-be-overwritten-in-ie8

Why do we care?!

[2015-06-10 09:44] Marsup commented on #369
Variable shadowing is usually a bad practice, catch or not.

[2015-06-10 10:08] jzorn commented on #369
I agree. Makes the code harder to understand, too.

[2015-06-10 16:55] hueniverse commented on #369
is there a better error than one about IE8?

[2015-06-10 17:14] geek commented on #369
We can use https://jslinterrors.com/a-is-already-defined instead, it accomplishes the same thing.

[2015-06-10 18:05] sedge opened #370 "Fail conditions documentation is unclear"
I tried causing a `before` hook to fail by passing an error to its `done` callback, since the docs say that's one way to cause a test to fail. Apparently this has no effect on the before/after hooks.

I know the docs say _tests_ will fail if something is passed to `done`, but I found it confusing and thought I would surface it.

[2015-06-10 19:32] geek commented on #370
We can clarify this, do you know where in the readme it says this, I didn't find it?

[2015-06-10 20:10] hueniverse commented on #369
wfm

[2015-06-10 20:16] Marsup commented on #369
@geek that would be `no-shadow`, which is currently disabled.

[2015-06-10 21:46] Marsup commented on #370
It should fail, either a bug or something wrong with your setup.

[2015-06-10 23:49] ndt75 commented on #285
Would love to have support for multiple reports too!

[2015-06-11 17:07] sedge commented on #370
Ahh! I stand corrected.

I'm used to mocha's explicit reporting of the *hook* failing. Lab reports it as a test script error without reference to where it occurred:
![screen shot 2015-06-11 at 12 56 28 pm](https://cloud.githubusercontent.com/assets/1616860/8112992/550312d8-1039-11e5-8260-535a6fb3f064.png)

In addition, despite the hook failing, the tests are still reported to have run:

![screen s

[2015-06-11 19:00] sedge commented on #370
I'm aware that this now touches a couple of different potential problems. Should I split that last piece out into another issue?

[2015-06-17 03:09] martinheidegger opened #372 ".eslintrc files should build on default settings"
So I have started a lab project and I disagree with one particular eslint setting. To change it setting-up a .eslintrc file seems to be most appropriate. However: when I add the file it replaces the `.eslintrc` settings of lab and falls back on all the standard eslint settings. This is not easy to follow/understand and annoying to fix.

It makes sense to me that it is done this way this because an

[2015-06-17 03:43] martinheidegger opened #373 "Reduce the overhead of lab require statements"
I have used `lab` extensively in the past. When I recently started using lab again I had to update my code templates to accommodate for the features that have been cut out of lab. This is how the overhead looks like:

[code]

Putting aside the fact that this block with unsorted variable names (`lab` is after `describe` in the alphabet) is problematic for linting: for most of the statements in this

[2015-06-17 07:22] AdriVanHoudt commented on #372
The default of Lab is the default for all hapi projects, it's this way because Lab is made for hapi primarily. And your point is that you want to run Lab with default linting rules without having to use your own config right?

[2015-06-17 07:40] martinheidegger commented on #372
@AdriVanHoudt No, this is not the point of this request. It is about inconsistency of the lint settings. Lets try to explain it differently:

`lab -L` → Uses the `hapi linting` (with all the custom hapi settings)
Add `.eslintrc` → Suddenly uses regular `eslint` settings?!

What if I want to change just one setting of `hapi linting`?

The default for `lab -n` is named wrong. I propose a rename of `

[2015-06-17 08:05] AdriVanHoudt commented on #372
That's just the way eslint works. Lab just uses the code version of eslint which behaves the same as the cli. If you want to use the settings from lab as a base (like me) add `"extends": "./node_modules/lab/lib/linters/eslint/.eslintrc",` to your config. See http://eslint.org/docs/user-guide/configuring#extending-configuration-files. And then you can enable/disable/add rules as you please. As for

[2015-06-17 08:15] martinheidegger commented on #372
Your explanation makes it easy to understand how it works but it is neither intuitive, documented, comfortable-to-use or consistent.

[2015-06-17 08:25] AdriVanHoudt commented on #372
This is just how eslint work afaik you can read the whole thing here http://eslint.org/docs/user-guide/configuring
As for the docs, I had a quick look at the docs and indeed they are not clear, they don't state that the default linting is with hapi styleguide rules and don't even mention jslint or that you can override the eslint rules, a PR for this would be very welcome

[2015-06-17 21:54] hueniverse commented on #372
The only right action here is to fix the docs, not the behavior.

[2015-06-17 21:58] hueniverse commented on #373
Sorry but No. Not using globals was one of the main motivations behind replacing mocha with lab. The boilerplate text is easy enough to cut/paste and is the right approach.

[2015-06-17 21:58] #373 closed

[2015-06-18 17:57] RyanPMcD opened #374 "issue with source-map-support for es6 transpiled code"
I have been using lab with lab-babel to test my hapi application written in es6 and transpiled with babel. I am running into this error in my tests:
[code]
It appears that this is something that has been addressed in the latest source-map-support module (https://github.com/evanw/node-source-map-support/pull/48) but unfortunately lab 5.10 is only requiring source-map-support 0.2.10. Please look at

[2015-06-18 18:26] AdriVanHoudt commented on #374
you are always free to do a PR yourself and this seems like an easy one

[2015-06-19 18:57] jmonster commented on #363
Interestingly, template strings have been working for me for the past few days, but suddenly today [with a fresh `npm install` -- there's no shrinkwrap in this project yet] it's breaking on *arrow functions*, i.e. `(argument1, argument2) => { /* ... */ }`.

[code]

Any ideas?

[2015-06-19 19:33] thebinarypenguin opened #375 "Experiment description not showing in output"
I have multiple sub-experiments with the same description and only one is displayed in the output.

Code:
[code]

Output:
[code]

- Notice that 'foo' does not appear under the 'Bravo' section
- If I change the 'foo' in the "bravo' section to 'fu' or even 'foo ' it will show up

[2015-06-19 20:46] #369 closed

[2015-06-21 22:50] hueniverse opened #376 "Lint too aggressive with empty lines before comments"
See: https://travis-ci.org/hapijs/vision/jobs/67770146

Basically, it is common to comment at the end of a require block as well as default values in an object. Not sure if this is easy to specify of just to drop this style rule.

[2015-06-22 07:23] AdriVanHoudt commented on #376
Yeah when I added the rule I also noticed that default values would be a problem, there is an option to not enable this rule on `/*  */` style comments but that does not fully solve your issue. The at the end of a require block seems weird, why not at the start?
Full rule spec [here](http://eslint.org/docs/rules/lines-around-comment)

[2015-06-22 08:27] hueniverse commented on #376
The way vision uses comments is consistent with the overall style, we just need a way to articulate it.

[2015-06-22 08:55] AdriVanHoudt commented on #376
Ok then we have 3 options
1. use `/* */` (not really wanted ofc)
2. disable the rule
3. Make a custom rule that allows the rule with the edge cases (and probably disable the current rule until then)

[2015-06-22 09:36] hueniverse commented on #376
3 otherwise 2.

[2015-06-22 13:47] AdriVanHoudt commented on #376
Since 3 includes 2 disable it for now (I might do a PR tomorrow for the new eslint version and I will include it then if no one else has already), and @cjihrig since you made the other custom rules, any way you might be able to make this work?

[2015-06-22 14:20] cjihrig commented on #376
I would recommend dropping this rule. From a quick glance it looks like you're going to require too much context to do anything useful. For example, the rule would have to recognize comments that immediately follow variable declarations whose right hand side is a `require()` call in the global scope. Or recognize comments inside an object literal whose name is `internals.defaults`. I think you'd l

[2015-06-22 14:23] AdriVanHoudt commented on #376
ok, so 2 :P we could set it as a warning but I'm 99% sure that's not wanted

[2015-06-22 15:09] #376 closed

[2015-06-22 22:42] danielb2 opened #378 "use of lint-warnings-threshold: not working correctly?"
A `lab --help` returns:

[code]

I've created a file called `index.js` with the following contents:

[code]

and I run `lab -L index.js -lint-warnings-threshold 1`

This results in display the help, plus the following error:

`Invalid option: id missing value`

If I try instead to run `lab -L index.js --lint-warnings-threshold 1` then I get the following result:

[code]

I was expecting something

[2015-06-22 23:04] Marsup commented on #378
I'd say the double dash is mandatory, maybe a bossy issue.

[2015-06-22 23:35] hueniverse opened #379 "Shadow lint error going too far"
See: https://travis-ci.org/hapijs/wreck/jobs/67856616

Basically, it is fine to shadow some variables like `err` in callback. If you didn't handle it at the top of the method you clearly don't care. I have never seen bugs because of `err` argument shadows. I am going to go over the warning in hapi and see which one I find useful and fix those. I'll be back here with my findings but just heads up t

[2015-06-23 12:11] walling commented on #285
I just want to voice my support for this feature. My use case is to run the tests on a CI service and:

1. Generate JUnit XML that the CI service can analyse
2. Generate HTML coverage report to display in browser

I think it would be nice to support reporter/output pairs to get one report in one file, another report in another file and maybe a third in the console. Something along those lines.

[2015-06-23 14:08] arb opened #382 "Lint Changes and Versioning"
As the .eslintrc file changes and new patch or minor versions are pushed, this causes previously passing code to now fail. I don't feel that users of lab should have to constantly keep updating code just because the lint rules changes and cause linting errors that weren't there in a previous version of lab. As a rule, I use version `major.x.x` of all hapijs modules, but that seems to be leading to

[2015-06-23 14:13] cjihrig commented on #382
I propose moving the linting to https://github.com/cjihrig/belly-button and let Lab outsource the work.

[2015-06-23 15:19] hueniverse commented on #382
I think this is a matter of maturity. We have a style guide and then people are tweaking the rules trying to match it. Maybe just batch changes and publish them as a major release until we feel we got it right. Some rules are valid to break because they are violation of the style. Shadowing is an example of something that we never discussed and someone just decided was "the right thing to do".

[2015-06-23 15:36] geek commented on #382
I agree with Eran, we can start publishing style rule changes as major releases.  Similarly, to help the rules evolve, we can pull the linting into a separate module for easier experimentation.

[2015-06-23 15:47] AdriVanHoudt commented on #382
I agree that it leads to breaking builts and that it isn't expected on minor versions. However eslint is not on a major itself, when doing the PRs I look at the new rules and if they comply with the style guide I add them, sometimes they are to aggressive or don't take in account hapi edge cases, which is not ideal, I think that when version 1 lands the most breaking changes should be dealt with a

[2015-06-23 16:37] #374 closed

[2015-06-23 19:05] geek commented on #379
I think you are correct.  This change has improved my code, but in some cases with `err` it is likely overkill.

[2015-06-24 00:28] hofan41 commented on #285
I've got basic functionality working right now and I have a question I would like to pose to the community: how should output file/formats be specified since there can be multiple reporters now?

For example, you might want lcov to go to lcov.info file, while console is printed out to standard out. How should we tie the reporter to the output format?

[2015-06-24 17:54] ndt75 commented on #285
@hofan41 (Thanks for doing this, btw.)
For my use case, "--reporter console --reporter html --output test_results" would print the standard output on the terminal and the html-format output would be saved in test_results.html.

The logic would be something like:
- if console is specified, send the standard output the terminal.
- for each of the other reporters, save the output to the specified out

[2015-06-24 18:18] devmarco opened #383 "Example of how mocking requests"
Hello guys, someone can help me with Lab, and can give me an example of how i can make a test that not hitting my DB, i think that i can use sinon.js but i really want use the hapiJS ecosystem (Lab, Shot)

[code]

[2015-06-24 19:41] geek commented on #379
I created https://www.npmjs.com/package/no-shadow-relaxed

We can allow certain variables to be shadowed, like `err, done, res`... any others?

[2015-06-24 21:12] hofan41 commented on #285
@ndt75 thanks for discussing the potential usage scenario with me. As I understand it, lab currently makes no assumptions about the file extension of the output file, thus leading me to believe adding this type of logic may not be accepted. In addition, there are scenarios where I can envision someone wanting to save the console reporter type to a file as well, and not just print it to stdout.

My

[2015-06-24 22:22] ndt75 commented on #285
@hofan41
I think console should just be console. i.e. if someone wants to save console output of anything, that's what the > is for, right?

As for specifying multiple files where the order of arguments has to match, that can get pretty tedious.
Not sure how lab feels about default extensions but personally prefer passing one single output argument. Or maybe we can an optional list in the output a

[2015-06-24 23:02] hofan41 commented on #285
@ndt75 an example why cli '>' may not be used is if lab is run with grunt via grunt-lab. In that case some folks may wish to save console output to a file but not be allowed to because of your proposed restriction.

[2015-06-25 09:23] hueniverse commented on #379
I think just `err` and `done` for now. `res` is an special one in tests so probably better to require doing `res1`, `res2`...

[2015-06-25 10:52] walling opened #384 "File name matching glob pattern"
With nested folders for your code, it is sometimes nice to make your test files be along the production code, fx. `my-route-test.js` accompanying `my-route.js`. I would basically love to have an option for matching file patterns like this:

[code]

Is it on the roadmap?

[2015-06-25 13:12] walling commented on #384
Looking at [cli.js:329-331](https://github.com/hapijs/lab/blob/master/lib/cli.js#L329-L331) it might not be super easy to implement. I would also be happy with just matching filename (without extension), like so:

[code]

This way the extension overwrite system can be kept. I think it would be a minor change.

[2015-06-25 18:55] #379 closed

[2015-07-01 17:52] mcollina opened #390 "Enable output for single-file usage"
Can `output: process.stdout` be the the default if a script is run standalone? Basically if it is not run through the runner.

This does not produce any output:

[code]

While this does:

[code]

[2015-07-01 17:55] geek commented on #390
@mcollina yes!  Great idea, will add an enhancement tag and get to work on this.

[2015-07-01 17:56] mcollina commented on #390
:+1:

[2015-07-02 16:05] #285 closed

[2015-07-02 16:39] georgeflugq opened #391 "Custom reporter not working from command line"
I am trying to use a custom reporter from the command line but can't get it to work.  I installed my own reporter, 'ownreporter' to node_modules, but it returns an error:

Usage: lab [options] [path]
(all options listed)
Invalid value for option: reporter

I have tried all of the following:
lab testfile.js -r ownreporter
lab testfile.js -r 'ownreporter'
lab testfile.js -r "ownreporter"
lab testfil

[2015-07-02 20:38] geek commented on #391
Can you share the structure of the project... is it like this:

[code]

?

[2015-07-03 02:20] georgeflugq commented on #391
Yes that's it, I made a blank project for this so the structure is exactly:

    /lab-custom-reporter
    /lab-custom-reporter/node_modules/ownreporter
    /lab-custom-reporter/node_modules/ownreporter/index.js
    /lab-custom-reporter/node_modules/lab/**/*
    /lab-custom-reporter/testfile.js

ownreporter's index.js file contains the json reporter code from:
https://github.com/hapijs/lab/blob/mas

[2015-07-03 08:11] walling opened #393 "Exit code always 0 with multiple reporters"
Running with a single or just the default reporter `lab` returns exit code 1 for failed tests. It seems not to be the case, when running with multiple reporters. To reproduce:

1. Create failing test case `test.js`:

[code]

2. Run with default reporter (exit code is 1):

[code]

3. Run with multiple reporters (exit code is 0):

[code]

It could be nice to get this fixed, so you can run your conti

[2015-07-03 20:53] hueniverse commented on #382
I thought we had an understanding here...

This just showed up: `spaced-comment - Expected space or tab after /* in comment`

I don't mind it if new lines was also allowed. Currently breaking hapi in a stupid way.

[2015-07-03 22:32] geek commented on #382
@hueniverse that is a mistake.  I will move that lint rule into v6.0.0 as part of the breaking change and publish v5.13.0 without the rule.

[2015-07-03 22:32] #382 closed

[2015-07-03 22:41] hueniverse commented on #382
Make sure to fix the rule for 6.x

[2015-07-03 22:46] geek commented on #382
I need to setup travis to test against hapi for any lab PRs as well.

[2015-07-04 04:59] hueniverse commented on #382
I mean, if you are going to bring it back, need to accept new line as well as space or tab.

[2015-07-05 23:54] #384 closed

[2015-07-06 13:39] bapti commented on #391
I've been looking into this - looks to me that the `Bossy` definition [here](https://github.com/hapijs/lab/blob/master/lib/cli.js#L236)

[code]

Blows up [here](https://github.com/hapijs/lab/blob/master/lib/cli.js#L275) when you pass an argument like this `./my-reporter` which the docs state [here](https://github.com/hapijs/lab#custom-reporters)

[2015-07-06 14:31] bapti commented on #393
Hopefully this will fix

https://github.com/hapijs/lab/pull/396

[2015-07-06 14:31] bapti commented on #391
Hopefully this will fix

https://github.com/hapijs/lab/pull/396

[2015-07-06 16:33] geek commented on #383
In this case you may want to monkey patch the db module when you call it... to mock out the reply.

[2015-07-06 16:33] #383 closed

[2015-07-06 19:00] hofan41 commented on #393
@bapti I don't think that will fix it, since the bug exists in multiple.js not doing process.exit.

[2015-07-07 08:59] zerkalica opened #398 "Proxy with record feature"
Are there hapi-based api mock solutions with proxy/record feature? Like this:

https://github.com/gandi/mockify
https://github.com/seglo/connect-prism

[2015-07-08 16:53] georgeflugq commented on #391
bapti, thanks for the update! I tried the change locally and it works now!  Looking forward to the merge

[2015-07-09 00:11] rjrodger opened #399 "Missing exports.lab causes error when generating html coverage report"
I forgot to 'exports.lab = ...' in one test file, and it caused error as below.
Adding the export removed the error.

Probably needs a more informative message?

$ ./node_modules/.bin/lab -P test -r html -o test/coverage.html

/Users/richard/Projects/seneca/node_modules/lab/lib/cli.js:114
                options.output.write('The file: ' + file + ' includes a lab sc

[2015-07-09 14:50] Aluxian opened #400 "What is --assert for?"
I found this in the README:

    `-a`, `--assert` - name of assert library to use.

What does it do? I couldn't find any more description than what it's said there. I tried to repo search for `--assert` but nothing...

[2015-07-09 14:56] AdriVanHoudt commented on #400
https://github.com/hapijs/lab/blob/master/lib/runner.js#L90 ?

[2015-07-09 14:58] Aluxian commented on #400
Ah, I see! Thanks!

[2015-07-09 14:58] #400 closed

[2015-07-09 15:02] AdriVanHoudt commented on #400
np, btw Lab works well with https://github.com/hapijs/code

[2015-07-09 15:06] Aluxian commented on #400
That's what I'm using :)

[2015-07-09 15:17] AdriVanHoudt commented on #400
:+1:

[2015-07-09 22:48] nelsonic opened #401 "(Possible) Bug in Lab Coverage Checker ?"
Hi @geek
Hope your day is going well.
I'm in the process of writing a (*Fully Tested*) Hapi.js + Socket.io + Redis Pub/Sub Example/Tutorial app... see: https://github.com/dwyl/hapi-socketio-redis-chat-example/

But, sadly I'm unable to get Lab code coverage checker to _cooperate_...

Lab coverage is _convinced_ that a few lines of my code are not being covered by my tests, when they *clearly* are

[2015-07-10 02:40] dbashford commented on #401
Having a similar issue.  I switched from supertest/mocha+chai/istanbul and 100% coverage to server.inject/lab/lab and 99% without changing any code other than moving some tests around.  Thinking the coverage is having issues with complex booleans?

https://coveralls.io/builds/3021647/source?filename=src%2Froute_builder.js

So getting knocked on the `if`s, for instance, but not the content of the b

[2015-07-10 04:54] nelsonic commented on #401
@dbashford thanks for your quick reply and for confirming I'm not going insane!
I too had 100% test coverage when using Istanbul, but switched to Lab because its the preferred testing framework for Hapi.js apps (which is what demo app I'm writing uses...)

The `if(value_is_set)` statement in the screenshot above is _clearly_ being executed and both branches are being followed (_hence the console.l

[2015-07-10 07:33] AdriVanHoudt commented on #401
@nelsonic is there a test where the if block is not executed?

[2015-07-10 10:29] walling commented on #393
Is it possible to replicate [the finalize logic from reporters/index.js](https://github.com/hapijs/lab/blob/master/lib/reporters/index.js#L86-L102) in `multiple.js`?

[2015-07-10 12:14] hueniverse commented on #401
Is it possible the file is loaded and executed before lab does its thing?

[2015-07-10 14:52] hofan41 commented on #393
I have a fix for this will submit a PR shortly.

On Friday, July 10, 2015, Bjarke Walling <notifications@github.com> wrote:

[2015-07-10 15:28] geek commented on #401
@nelsonic does the html report provide any additional clues, perhaps the conditional isn't needed?

[2015-07-11 07:27] nelsonic commented on #401
The lines in question are: https://github.com/dwyl/hapi-socketio-redis-chat-example/blob/a8722bbe4b641a187e2c0013312e6fbffd8c4496/lib/redis_config.js#L4-L12

And the test which executes them:
https://github.com/dwyl/hapi-socketio-redis-chat-example/blob/a8722bbe4b641a187e2c0013312e6fbffd8c4496/test/_redis_cloud.js#L14-L16

The test is simply loading a configuration file `redis_config.js` which wil

[2015-07-13 18:23] hueniverse opened #402 "Add ability to attach notes to test results"
There are times when a test passes (or fails) but you want to draw attention to some other data about it. My specific need is to record performance numbers (my tests confirm performance is under n milliseconds but I also want to see the actual numbers).

In order to keep the interface and implementation simple, we can just piggyback the `done` argument:

[code]

If we make `note()` return `done` w

[2015-07-13 20:09] AdriVanHoudt commented on #402
`note` would practically be a `console.log` but only when verbose is on? Or do you also want to export this or something?

[2015-07-14 15:40] Jaraxal opened #403 "Test fail with 500 when using JWT"
I have a set of unit tests that work well.  I updated my hapi-based api to use JSON Web Tokens using hapi-auth-jwt2.  Now all of the tests that previously worked fail with a server 500 error.  I'm passing in a valid key as part of the tests.  I have debug output in the API itself that shows each one of the API calls the test submits are working properly.  Somewhere between the API responding with

[2015-07-14 20:00] tmacie opened #405 "code coverage fails when using class keyword or object literal shorthand properties"
When attempting to execute lab tests with code coverage turned on, espree throws with parsing errors. I've submitted PR #404 to fix this.

On a side note, is there a reason that all es6 features are not turned on?

[2015-07-15 00:52] mshick commented on #405
I've encountered the same in a small project using es6 classes. Even the simplest test fails on coverage.

[2015-07-15 06:41] hueniverse commented on #402
It will console log but at the end of the console report, and with the titles of the tests which generated them, and in the JSON output for other reporters to potentially include.

[2015-07-15 07:30] Marsup commented on #402
I don't really care for that feature but I'm not sure it should be a simple string. It might as well be useful to call it multiple times for different information. But then the reporters should know how to deal with it. Ideas ?

[2015-07-15 15:08] hueniverse commented on #402
You can call it with anything you want. It is free form reference. If you call it multiple times it will just add them to an array. I would just console log them if you specify a command flag. Otherwise just add them to the JSON output.

[2015-07-15 16:45] tmacie commented on #405
@mshick The PR referenced in my comment has been merged, so this issue should be resolved in the next release (5.13.1 I believe)

[2015-07-15 16:45] #405 closed

[2015-07-16 04:45] geek commented on #405
@tmacie no reason why they aren't turned on

[2015-07-16 04:51] geek commented on #403
What does the stack of the 500 look like?  You can also use the `result` property from shot instead of parsing the payload:
[code]

[2015-07-16 14:09] Jaraxal commented on #403
That is what is so puzzling; there doesn't seem to be a stack that I can see.  In the API itself, I have a console.log before each of my "throw error;" lines so that I can see what the errors are.  Right before each of the "reply" calls, I also have a console.log to see what the reply content will look like.

When the test runs, the API doesn't log any errors and only logs the valid response that

[2015-07-20 15:14] wgormley opened #408 "No verbose or code coverage output"
I am using lab 5.13.0 and when i set my flags to -t 90 and -v the test runs fine but i am not getting any of the output printed to my screen. is there something i am missing?

[2015-07-20 17:08] geek commented on #408
What is the command you run?

[code]

How do you know the tests are being executed?

[2015-07-20 17:21] wgormley commented on #408
yep thats what i run, i still get this after the tests have ran

8 tests complete
Test duration: 4139 ms
No global variable leaks detected

but no code coverage or verbose output. i can manually go into cli.js and insert this which allows me to get code coverage

`options.coverage = true;
options.threshold = 90;`

[2015-07-22 07:34] hulbert opened #409 "disallow or warn when lab.before not used inside lab.experiment?"
Internally we had someone write a file something like this:

[code]

Glancing over, this looks okay. However if the before times out or has some error (like done() called twice as it did in our case) then there is no experiment name to explain where the before fails so you get something like "Before ____ timed out". It would be great if using `lab.before` in this way triggered some error or at lea

[2015-07-22 08:15] hueniverse commented on #409
The problem is there is always an implicit experiment context set.

[2015-07-22 18:12] Pomax opened #410 "problems on windows?"
We're seeing an api server for which we're using Lab for testing fail on the lab tasks on windows, while they work just fine on OSX and Linux - has Lab been tested on Windows, or if not, is there a test suite that we can run to see if this utility will actually work in our cross-platform projects?

[2015-07-26 19:58] lloydbenson commented on #393
I get an error when using multiple reporters that I believe this does fix.  Instead of what you describe in io.js  I see something like:
../node_modules/lab/lib/reporters/multiple.js:95
            callback(self._results.err, self._results.code, self._results.outp
            ^
TypeError: callback is not a function

I see indeed that callback is undefined for the reporters.  When I put in the code

[2015-07-26 19:59] lloydbenson commented on #393
@geek any updates with this one and if it looks good can we get it merged and published?

[2015-07-27 18:47] #393 closed

[2015-07-27 18:47] geek commented on #393
@hofan41 you are my hero, thanks for fixing this issue.

[2015-07-27 18:57] geek commented on #410
@Pomax what version of node are you running?  I really don't test it much on windows, but am happy to take a look at your issue.

[2015-07-27 20:00] Pomax commented on #410
node 0.12.7 (npm 2.11.3) on windows 7 (x64)

[2015-08-03 14:54] geek opened #413 "Fix extra params passed to equal that are invalid"
Related to https://github.com/hapijs/lab/pull/412

Lab tests should be reviewed and fixed where they call code.equal and pass a second parameter that is no longer valid.

[2015-08-04 03:33] #413 closed

[2015-08-04 04:00] geek opened #415 "Custom reporters not allowed from cli"
Need to allow custom reporters to be allowed by the CLI, as reported by the readme

[2015-08-04 04:03] #415 closed

[2015-08-04 04:08] geek commented on #399
Good point, we can make this error behave better with custom reporters

[2015-08-04 14:41] gergoerdosi opened #417 "Not possible to ignore files from coverage"
I want to have 100% coverage on the files that are in the `lib` directory. However I have files outside this directory too (server, configuration, etc.) that shouldn't have full coverage. I put together an example here: https://github.com/gergoerdosi/lab-coverage-example

When I run tests I get this output:

[code]

Is there a way to tell lab to only check coverage on the content of the `lib` dire

[2015-08-04 14:47] gergoerdosi opened #418 "Add examples to -g and -P options"
Related to #417. I created an example repository here: https://github.com/gergoerdosi/lab-coverage-example

When I run tests with `lab -a code -v`, everything works:

[code]

However when I try to use the `-g`, or `-P` options, none of my tests run.

[code]

[code]

[code]

Could anybody please add an example to the documentation how these options are supposed to be specified?

[2015-08-04 17:41] geek commented on #418
@gergoerdosi for -g you will want to pass the name of the test to run, or experiment:

[code]

[code]

for -P it will only look at the filename...

[code]

[2015-08-04 17:41] #418 closed

[2015-08-04 17:43] gergoerdosi commented on #418
Got it, thanks!

[2015-08-04 17:45] geek commented on #417
@gergoerdosi good point, right now we are hard coding `test` and `node_modules` (https://github.com/hapijs/lab/blob/master/lib/cli.js#L22) into the coverage exclusion.  We can enhance the CLI to include exclusions... or maybe go the route of an npmrc file that specifies the exclusions

[2015-08-04 17:57] gergoerdosi commented on #417
@geek Now looking at the source code, I think I would be more interested in the `coveragePath` setting. Instead of specifying all files to exclude (`test`, `node_modules`, `index.js`, `server.js`, `config/development.js`, `config/production.js`, etc), it would be easier to just set `coveragePath` to `lib/`. At least in my case. Or is `coveragePath` for something else?

[2015-08-04 18:34] geek commented on #417
@gergoerdosi makes more sense :)

I am happy to accept a PR for this.

[2015-08-05 04:06] #417 closed

[2015-08-05 04:11] antipin commented on #309
There is a custom reporter for TeamCity https://www.npmjs.com/package/lab-teamcity-reporter

[2015-08-05 16:01] geek commented on #309
Thanks, @antipin...  we will to start linking to these somewhere in our documentation.

[2015-08-10 03:55] gergoerdosi opened #422 "Mongoose timeout issue"
I have a test which uses Mongoose and it times out when an expectation fails. It passes the first `expect()`, but then timeouts on the second one. Here is a sample code to reproduce it (run `npm install mongoose lab code` to set it up):

[code]

The output is:

[code]

For some reason I'm able to reproduce this only with Mongoose. If I use a simple async function, then `expect()` works. Does anybo

[2015-08-11 02:58] geek commented on #422
Does it still timeout if you extend the timeout period with the `-m` argument?

[2015-08-11 03:07] gergoerdosi commented on #422
Yes, it does. I added `{ timeout: 10000 }` to the test but it still timed out. Also, please note that it's not the callback which times out because the first `expect()` call is reached immediately, see `console.log()`s.

[2015-08-11 18:49] gergoerdosi commented on #422
This looks like an issue with Mongoose. The code above works with Mongoose 3, but not with Mongoose 4. My guess is that the second `expect()` throws, but Mongoose somehow catches that error, so Lab receives nothing.

Probably related to https://github.com/Automattic/mongoose/issues/3222.

[2015-08-11 19:20] #422 closed

[2015-08-11 19:23] geek commented on #422
@gergoerdosi thanks for identifying the issue, glad it wasn't in lab :)

[2015-08-13 23:39] epikhighs opened #423 "hiding server 500 errors from console output"
Hi,

This is a usage and/or feature enhancement question.  When using lab, if one of my routes reply() with a hapi/boom 500 response, then a stack trace is outputted to console.  Even after debugging, I can't figure out where in the code this is being outputted.

I'm wondering if there's a way to disable logging these 500 server responses so that I can more easily determine tests that are passing.

[2015-08-14 00:00] epikhighs commented on #423
Nm.  I finally figured it out.

In the server options (http://hapijs.com/api/8.8.1#new-serveroptions) you can set the debug flag to false.  Was driving me nuts for a few days :)

[2015-08-14 00:00] #423 closed

[2015-08-15 07:00] smaxwellstewart commented on #384
Hey any chance of how to implement this enhancement? I can't get this to work with.

[code]
My test files are not located in a `test` folder.

[2015-08-15 07:50] gergoerdosi commented on #384
Here is an example: `lab --pattern '_test' src`. This command will look for files ending with `_test.js` in the `src` directory.

[2015-08-15 14:01] smaxwellstewart commented on #384
Yeah I was struggling to make it look in any sub directory as my tests are next to the source code they are testing, but everything is located in two sub directories so i think i could make it work.

Is there an easy way to get lab to look in all folders?

[2015-08-15 14:10] gergoerdosi commented on #384
If those directories don't change, you can just specify two directories:

[code]

I suppose `lab --pattern '_test' .` should work too, but it throws an error for me. Probably a bug.

[2015-08-18 19:31] anandthakker opened #426 "Alienating language in README"
Even though I actually agree with (some version of) the underlying idea about the value of test coverage, I think this sentence is pretty alienating.

[2015-08-18 19:45] jaw187 commented on #426
Who is alienated by this statement?

[2015-08-18 20:03] geek commented on #426
@anandthakker any suggestions for alternate phrasing?

[2015-08-18 23:00] hueniverse commented on #426
I don't remember if I wrote it or not, but it is clearly meant as a joke.

[2015-08-19 00:52] anandthakker commented on #426
@hueninverse Ah--somehow it really didn't scan that way to me--maybe because the rest of the documentation is pretty matter of fact; or maybe because there are enough people hanging around on GitHub who *actually* behave so superior and obnoxious, so that it's hard to distinguish a joke like this from real live snobbery. That said, I'm sorry that I didn't offer the benefit of the doubt in my initi

[2015-08-19 02:06] #426 closed

[2015-08-20 01:09] PizzaBrandon commented on #415
Sorry to bother on a closed ticket, but I'm not sure if what I'm dealing with is a related bug or if I'm using this incorrectly.

I just wrote and published a Lab reporter for Bamboo, installed it locally on a package I'm attempting to test, installed `lab` globally (verified it's 5.15.1), and ran `lab -r lab-bamboo-reporter`. It gave me the following error:

[code]

But if I run `lab -r ./node_mo

[2015-08-20 01:19] geek commented on #415
Interesting.  What if you install locally and run lab?  I like to avoid global installs and just use the local binaries.  If you don't have the path setup for ./node_modules/.bin then you can run as:

`./node_modules/.bin/lab -r lab-bamboo-reporter`

I wonder if this is an issue with the global install not respecting the current working directory.

[2015-08-20 01:35] PizzaBrandon commented on #415
`$ ./node_modules/.bin/lab -r lab-bamboo-reporter` gives the correct test result output.

[2015-08-20 01:37] PizzaBrandon commented on #415
I will amend my package's usage instructions to match this requirement, but I do hope you are able to find a solution that allows the global install to also work since the readme recommends it as a best practice.

[2015-08-25 14:03] Wenzil opened #430 "How to launch tests programmatically?"
I want to debug my tests using the debugger in Visual Studio Code, but to do so I need my tests to be ran from a node script, i.e. I can't run them via the `lab` cli.

I tried to simply `require` my test scripts but that doesn't behave well. Anyone has a solution?

[2015-08-25 15:41] geek commented on #430
You can run the tests using `node node_modules/.bin/lab`

[2015-08-25 15:45] geek commented on #398
You can ask questions like this in https://github.com/hapijs/discuss/issues

Here is a thread that may relate to what you want: https://github.com/hapijs/discuss/issues/107

Here is a mock API using hapi: https://github.com/eferte/json-mock-hapi

Here is another mocking solution with hapi: https://github.com/walmartlabs/ridicule

[2015-08-25 15:45] #398 closed

[2015-08-25 15:53] Wenzil commented on #430
Cool, I'll try that and let you know how it goes

[2015-08-25 19:49] Wenzil commented on #430
Nice, it works flawlessly. Thanks a bunch :)

[2015-08-25 19:49] #430 closed

[2015-09-02 16:55] #372 closed

[2015-09-08 15:39] jalcine commented on #299
Has this been actively approached? I'd like to see if I can sink my teeth into this.

[2015-09-08 15:49] KeKs0r commented on #299
No I did not yet have the time. Besides checking some of the lab code I have not really started. So if you want to tackle this, were probably all happy.

[2015-09-08 16:29] jalcine commented on #299
@KeKs0r: Cool. I've been having an issue with parallelism with Hapi tests but I feel like this would be a good segway to see if I could solve my own issue.

[2015-09-09 06:33] hueniverse opened #434 "Lint rule for switch is wrong"
See results on statehood:

[code]

The current statehood code is correct.

[2015-09-09 06:49] hueniverse opened #435 "Rule for empty for loop inc is wrong"
[code]

Current code in nigel is correct.

[2015-09-09 06:52] danielb2 commented on #435
Looks like issue there is the trailing `;` before the closing parenthesis.

Compare with line [68] for example

[68]: https://github.com/hapijs/nigel/blob/master/lib/index.js#L68

[2015-09-09 07:25] AdriVanHoudt commented on #434
Can you try adding `'indent': [2, 4, { "SwitchCase": 1 }]` to the eslintrc file?

[2015-09-09 07:35] AdriVanHoudt commented on #435
Either add a space behind the `;` (imo the best option, makes it clear that the iteration progress is done inside the loop not by a standard `i++`).
Or disable the 'there should be a space behind `;` rule' (by doing `"semi-spacing": [2, {"before": false, "after": false}]`.
Removing the `;` would result in a syntax error so that is not an option.

[2015-09-09 07:39] AdriVanHoudt commented on #410
Windows always had issues running the tests https://github.com/hapijs/lab/issues/296

[2015-09-09 07:42] danielb2 commented on #435
missed the number of arguments.

The added space would look odd imo

[2015-09-09 07:45] AdriVanHoudt commented on #435
it does look a little bit odd but it makes it instant clear that there is "i++" being done by the loof definition.
Maybe @cjihrig can add a custom rule to `eslint-plugin-hapi` that allows this in for loops?

[2015-09-09 11:46] cjihrig commented on #435
I'll look into this.

[2015-09-09 11:47] cjihrig commented on #434
I'll look into this.

[2015-09-09 11:52] AdriVanHoudt commented on #434
:clap:

[2015-09-09 11:52] AdriVanHoudt commented on #434
Also maybe we can move the config under the hapi universe? Seems logical

[2015-09-09 15:07] cjihrig commented on #435
This is purely an issue with the ESLint rule doing what we're telling it to do. We are using:

`'semi-spacing': [2, { 'before': false, 'after': true }],`

Meaning that we are enforcing a space after a semicolon when it is not at the end of a line. We should either disable the rule completely or add the extra spaces in the few places that it is required. I don't think this warrants its own rule.

[2015-09-09 15:12] AdriVanHoudt commented on #435
unless you want to have it everywhere except this case...

[2015-09-09 15:12] hueniverse commented on #435
This is a special case where `)` comes after the last `;`.

[2015-09-09 16:19] cjihrig commented on #435
If it's a rare case, you can turn off the rule for that specific line, or just add the extra space. Short of that, we'll either have to disable the rule or write a custom one. Someone could also try opening an issue upstream to see if ESLint is interested in supporting that.

[2015-09-10 05:33] hueniverse opened #437 "Drop camelcase lint rule"
It should not be part of the rules we use. That's going too far...

[2015-09-10 15:23] cjihrig commented on #437
This will now be taken care of when #436 is merged.

[2015-09-11 18:26] #434 closed

[2015-09-11 18:26] #437 closed

[2015-09-11 19:48] Pomax commented on #410
Sounds like test running should always have been fixed, then =)

[2015-09-13 17:04] skeggse opened #438 "Document code coverage ignore syntax"
As mentioned in #329 and hapijs/isemail#1, lab includes support for the following syntax to temporarily disable code coverage.

[code]

It'd be nice if this were documented.

[2015-09-13 21:33] skeggse opened #439 "Document html coverage report source markup"
I'm new to lab, having spent some time with [istanbul](https://github.com/gotwarlost/istanbul). Istanbul's html coverage reporter annotates what branches and conditions have been visited, and includes tooltips that indicate things like "branch not covered" and "statement not covered." The colors that istanbul uses make it easy to understand what the tests aren't covering.

I'm not finding the same

[2015-09-13 23:02] geek commented on #439
@skeggse very good point.  Here is where the colors are determined at the moment: https://github.com/hapijs/lab/blob/master/lib/reporters/html/report.html#L314

[2015-09-13 23:06] skeggse commented on #439
I found that, but I'm not sure what the different classes mean - what is a `.miss.false` vs a `.miss.true`?

[2015-09-14 04:57] imatefx opened #440 "before and after blocks"
when i run a specific test using the id
[code]
is it supposed to run all the befores and after blocks??

[2015-09-14 05:35] danielb2 commented on #440
Yes, it should

[2015-09-14 06:07] imatefx commented on #440
Is there any way to run what is related to just that specific test

[2015-09-14 06:27] Marsup commented on #439
This means the condition was always either true or false, need both to have proper coverage.

[2015-09-14 06:57] danielb2 commented on #440
The before/after blocks should run if they're related. What else are you thinking?

[2015-09-14 07:27] imatefx commented on #440
[code]
If i run the above test using

[code]
I get
[code]

if i use
[code]
I get the following output
[code]

Should the other before and after tests run for that specific test?

[2015-09-14 07:43] danielb2 commented on #440
Think of before() and after() as meaning running before and after ALL the tests in a scope. The place you define the function, literally before and after, has no bearing on when they're executed.

[code]

[2015-09-14 07:50] imatefx commented on #440
ok thanks,
I think it would be great to restrict it based on the contained describe block

[2015-09-15 00:27] #438 closed

[2015-09-15 11:42] hofan41 commented on #393
Hello!

Important message, visit http://bizsurvivor.com/offered.php?99ii

Ho-Fan Kang

[2015-09-15 18:22] lloydbenson opened #443 "add lint results to json reporter"
It would be useful to have the lint object be a part of the json reporter.

[2015-09-15 22:43] geek commented on #410
I just tested on node v4 and Windows 10... no issues!

[2015-09-15 22:43] #410 closed

[2015-09-16 01:25] #443 closed

[2015-09-16 02:10] Pomax commented on #410
nice!

[2015-09-16 02:27] geek commented on #296
I tried to get this working on appveyor, didn't have much luck.  I got it down to 35 failing tests :)

[code]

Adding here in case we decide to revisit.

Here is the appveyor.yml I landed on

[code]

[2015-09-19 14:24] Marsup commented on #439
Not to waste anyone's time, I'm working on it currently with other features I'd want in.

[2015-09-21 15:59] geek opened #449 "Add --version to CLI"

[2015-09-21 16:00] Marsup opened #450 "Different type of paths in the code"
While refactoring the html reporter, I noticed paths were represented in various ways in the project :
- eslint has absolute paths
- jslint has paths relative to coverage path
- coverage has paths relative to cwd

Maybe other cases I didn't see.

It looks like code smell having to work with those various formats, I think we should be consistent in using a single one.

[2015-09-22 11:15] Marsup commented on #439
Closed by above PR.

[2015-09-22 11:15] #439 closed

[2015-09-22 17:30] #449 closed

[2015-09-25 22:10] hueniverse opened #453 "Lint warning for unused variables except internals"

[2015-09-25 22:10] hueniverse commented on #450
WTF is `cleanup`?

[2015-09-26 00:31] cjihrig commented on #453
I published v3.0.0 of `eslint-config-hapi`. I was about to make a PR to lab, but there are a lot of warnings. Most of them refer to unused function arguments, for example - https://github.com/hapijs/lab/blob/master/lib/reporters/lcov.js#L23

[2015-09-26 01:38] geek commented on #450
@hueniverse code cleanup.. I will rename to refactor.  I didn't see a label to describe a change that is only refactoring/cleaning up code.

[2015-09-26 01:43] geek commented on #453
I think unused function arguments should be excluded from the check.  While an unused argument can be removed, they also help document the expected arguments.

[2015-09-26 05:35] jamesdixon commented on #328
@arb I gave that command a shot, but no luck with using node-inspector to debug lab tests. Here's the output I get from node-inspector:

![image](https://cloud.githubusercontent.com/assets/110114/10116007/1ecd2214-63de-11e5-99b3-7891effd4508.png)

Any ideas?

Thanks!
James

[2015-09-26 05:58] hueniverse commented on #453
I agree. Unused function arguments are not a problem but the right way to write code. If you implement a callback you should include all the arguments expected as a way to document the interface.

[2015-09-26 06:02] mtharrison commented on #328
Press the start/pause button to kick it off.

[2015-09-26 06:06] hueniverse commented on #450
Do we need one? Isn't it just a non-issue - a code change that results in no bug fixed or new features?

[2015-09-26 06:26] jamesdixon commented on #328
Wow. Thanks, @mtharrison. I'm now sitting here trying to determine whether or not I should feel like an idiot for not realizing that...

[2015-09-26 06:34] jamesdixon commented on #328
@mtharrison one last question for you: when I kick things off, it takes quite a while for all of the libraries to load; much slower than running lab directly. Is this unavoidable or is there a way to speed it up? Thanks!

[2015-09-26 07:47] mtharrison commented on #328
Yes it is slow. Not sure there's anything that can be done about that. Running with the built in node debugger is usually a bit faster (node debug vs node-debug) but the experience isn't as good.

[2015-09-26 07:48] jamesdixon commented on #328
Gotcha. Thanks again for the help!

From: Matt Harrison <notifications@github.com>
Reply: hapijs/lab <reply@reply.github.com>>
Date: September 26, 2015 at 1:47:32 AM
To: hapijs/lab <lab@noreply.github.com>>
Cc: jamesdixon <jim.w.dixon@gmail.com>>
Subject:  Re: [lab] Debugging with node-inspector (#328)

Yes it is slow. Not sure there's anything that can be done about that. Running with the built i

[2015-09-26 19:14] geek commented on #450
It seems odd to label an issue as a non-issue when I want to keep it open and work on it.  I think of non-issue as something that isn't valid or won't be worked on.

[code]

[2015-09-26 22:44] hueniverse commented on #450
I would call this `maintenance` then to cover a wider range of changes. Can you add it to the contrib document?

[2015-09-27 01:34] #453 closed

[2015-09-27 01:35] geek commented on #450
`maintenance` is the winner.  Thanks.

[2015-09-27 07:44] hofan41 commented on #393
Hey!

Important message, please visit <http://crs.choszczno.pl/also.php?y>

Ho-Fan Kang

[2015-09-28 19:10] geek opened #455 "6.0.0 release notes"
A new lint rule was added that may break your existing tests.  The rule for `no-unused-vars` is added, which requires all variables are used.  Variables that are excluded from the rule are `internals` and function arguments.

[2015-09-28 19:10] #455 closed

[2015-09-28 23:59] hueniverse opened #456 "Add error.data to console reporter"
When an error includes a data property, it is often useful to see that in the CI report, especially for cryptic internal errors.

[2015-09-29 00:25] #456 closed

[2015-09-29 07:10] AdriVanHoudt commented on #455
Does this mean that whenever the rules update Lab will do a major cause it can break existing tests?

[2015-09-29 07:29] hueniverse commented on #455
Yes, but. We're running out of rules that will trigger this.

[2015-09-29 07:37] AdriVanHoudt commented on #455
You make it sound like a sad thing :D

[2015-09-30 10:01] gajjargaurav opened #458 "Add "Pending Tests""
Mocha provides Pending Tests which are really good for start defining acceptance criteria as tests and implement them later on. https://mochajs.org/#pending-tests

It would be great to have such a feature in lab as currently in lab we will have to skip those tests.

[2015-09-30 10:05] danielb2 commented on #458
This is already provided via the following syntax
[code]
or

[code]

[2015-09-30 10:06] #458 closed

[2015-10-01 06:19] eriktrom opened #459 "`/* `$lab:coverage:(off|on)$` */` disables coverage for a whole module"
Howdy folks - when using the following:

[code]

I get 100% coverage for the entire module(in both console and html output). When I remove the `$lab:coverage:(off|on)$` comments, I get what I expect.

**This seems to indicate that `/* $lab:coverage:on$ */` does not turn coverage back on for the remaining lines.**

(Ancillary note: `import Blah from 'blah'` causes the babel compiled output to fail

[2015-10-01 10:32] Marsup commented on #459
Can we see the transpiled code ?

[2015-10-01 19:32] eriktrom commented on #459
Sure here's the html reporter output: http://eriktrom.s3.amazonaws.com/coverage.html

Let me know if you'd like to see anything else, like a fresh git init of the source code for public consumption.

[2015-10-01 19:44] eriktrom commented on #459
Also, here's the html coverage output with the coverage off/on blocks in use(for comparison): http://eriktrom.s3.amazonaws.com/coverage-with-on-off-comments.html

[2015-10-03 11:27] Marsup commented on #459
Would help to have the full code to debug on our side yes.

[2015-10-04 12:42] arb opened #461 "File Name Coverage Issue"
If you try to `require` a file that has the word "test" in the file, coverage will not be run on that file.

[code]

I think the problem is [here](https://github.com/hapijs/lab/blob/master/lib/coverage.js#L51). I *think* the end of that regex should read `(?!test\/|node_modules\/)` by default.

[2015-10-04 13:24] Marsup commented on #461
Are you sure just a $ at the end wouldn't be enough ?

[2015-10-04 16:55] arb commented on #461
Perhaps. You know what they say about regular expressions; if you solve a problem with a regular expression, now you've got two problems.

[2015-10-05 12:03] aymericbeaumet commented on #257
What's the current status about this? What about https://github.com/Marsup/lab/commit/a1b1b3f?

[2015-10-05 12:21] Marsup commented on #257
My patch was working when lab was explicitly using chai, it would need an update to work with various assertion framework now. I'd also be curious to explore a solution based on continuation-local-storage.

[2015-10-05 12:49] aymericbeaumet commented on #257
Hum yeah, not sure how to tackle the assertion-framework-agnostic issue here. Maybe something like this: `var expect = Lab.assert(require('chai')).expect;`. But that would imply to explicitly support a list of assertion libraries.

How would you would leverage continuation-local-storage?

[2015-10-05 12:59] Marsup commented on #257
There's already the -a switch, we could use that and add hooks when we know the library.
CLS could be used as a context to store assertion counts to avoid using the this.

[2015-10-05 13:19] aymericbeaumet commented on #257
Yeah I suppose we could support the main libraries at first. `-a` is fine, but we should also expose an API for people loading their assertion library manually.
CLS > Fine by me. In that case we would need a way to generate unique ids for each test (unless that's already done by lab).

[2015-10-05 13:24] Marsup commented on #257
Unless I misunderstood CLS, it doesn't have to be unique. I'd pick a single one here.

[2015-10-05 13:38] aymericbeaumet commented on #257
The misunderstanding was on my side. A single id is enough.

[2015-10-05 18:39] eriktrom commented on #459
Np - I'll make a repo by the morning - went a little buck wild with log stash one day. Have no idea what keys went into git. Will wipe and share. Thanks BTW. Really dig ur guys frameworks.

[2015-10-06 07:27] eriktrom commented on #459
@Marsup - https://github.com/eriktrom/xyz

I've committed the `dist` directory so hopefully you won't have to run the app but if you do, it should just work (or actually give you instructions). Let me know of any problems.

[2015-10-07 07:58] Marsup commented on #257
@geek time to take a decision, should anyone take action or shall we close the issue ?

[2015-10-07 11:19] devinivy commented on #257
Just adding that I would use this feature if the API for it were simple enough.

[2015-10-07 19:13] nickux opened #462 "Add example for .coffee transform to README"
For the life of me I cannot figure out how to get a coffee transform to work. Can someone add an example in the README file to go along with the ES6 (ES2015) Babel example? I'd do it, but after hours of trying I'm stuck.

[2015-10-08 02:07] geek commented on #462
@cjihrig or @arb ^^^

[2015-10-08 03:05] geek commented on #257
@Marsup I like the idea and will gladly merge it in :)

[2015-10-08 07:15] Marsup commented on #257
My vision of the API is :
[code]
So no `this` if possible.

I'm assuming CLS but maybe the future is zones.js or async-listener, it's still not clear to me, maybe someone followed that better than me ?
Also only libraries using that would work of course.

[2015-10-08 09:54] aymericbeaumet commented on #257
:+1:

Note that we might not require a `done` parameter if the user specifies `options.plan`.

[2015-10-08 10:28] Marsup commented on #257
I'd keep it anyway for consistency.

[2015-10-08 15:13] geek commented on #257
Looks good to me.  I am fine with naming it `plan`, might consider naming it `expect` as instead.

[code]

[2015-10-08 15:22] devinivy commented on #257
I like `plan`, since that's possibly more familiar due to popularization in `tap`.  Either way looks good, though.

[2015-10-08 15:38] geek commented on #257
@devinivy sounds good, I know thats what tape names it... so should be easier for people who are familiar with that style.

[2015-10-08 20:16] cjihrig commented on #462
Sorry, I don't know how to CoffeeScript.

[2015-10-09 19:34] Traviskn commented on #79
I was having a bit of trouble figuring out how to get lab to work with promises.  When an assertion fails within a promise's then block, the error is unhandled and the test times out rather than reporting actual and expected values like normal.  The key to getting things working is to be sure to have a catch block at the end that passes the error to lab's done function - failed assertions will be

[2015-10-10 21:09] tjmehta commented on #282
+1, how can I support alternative linters like [standard](https://github.com/feross/standard)

[2015-10-11 00:02] cjihrig commented on #282
`standard` isn't a linter. It's a config file and some other tooling built on top of ESLint. You can specify the `standard` ESLint file through Lab. Or just install `standard` and add it to your `package.json` or whatever you use.

[2015-10-12 15:13] geek commented on #282
@tjmehta add `.eslintrc` file to your project with the following contents:

[code]

next you just need to install a couple of packages: `"eslint-config-standard", "eslint-plugin-standard"`

[2015-10-13 07:13] davidhouweling opened #464 "Coverage identifies babel transformed react code as uncovered"
Given a react component written in ES2015, i've added a babel transformer. But once i run the code coverage, the parts that babel injects to allow the react component to work causes the coverage runner to report on these lines (5 of them) as not being covered.

[2015-10-13 07:25] Marsup commented on #464
Not enough information, no code, no way to reproduce.

[2015-10-13 15:17] simon-p-r opened #465 "SyntaxError: Unexpected strict mode reserved word"
Hi

I am encountering above error when testing this pseudo code.

[code]

I had a look at espree config but couldn't find anything that would cause this.

[2015-10-13 15:19] ldesplat commented on #464
This is when you need to ask yourself the question, should these lines actually be covered? After all, this is how the final code looks like.

If you decide that it is not necessary or just can't find a way to cover those lines see [nlf/lab-babel](https://github.com/nlf/lab-babel) repository and nlf/lab-babel#4 . This will use some of babel's features to insert comments in between the auxiliary co

[2015-10-13 17:09] geek commented on #465
@simon-p-r what other details can you provide: node version, how you are running lab, and what does the full test look like.

[2015-10-13 17:29] simon-p-r commented on #465
@geek as requested

[code]

I am not testing function directly at the moment but function code is in looks like this

[code]

[2015-10-14 01:34] cjihrig commented on #465
That error generally happens when you use a strict mode reserved word as a variable name. For example:

[code]

Isn't there a stack trace or anything that tells you where the problem is?

[2015-10-14 03:13] davidhouweling commented on #464
@Marsup sorry for not including a code sample. Just thought that someone would have come across this already and so thought I'd chance it first.

@ldesplat You are indeed correct, that I don't think those lines need coverage. And what is in that pull request definitely seems like what I was looking for. I haven't yet tried it but it looks promising. I'll let you know if it is successful later in t

[2015-10-14 05:05] davidhouweling commented on #464
@ldesplat your solution did fix the code coverage. Thanks.

[2015-10-14 05:05] #464 closed

[2015-10-14 10:07] simon-p-r commented on #465
Here is stack trace

[code]
I am not using map and let of item to work around issue.

[2015-10-14 12:55] cjihrig commented on #465
Does the following code work for you in Node without lab:

[code]

It should. And can you make sure you're on the latest version of lab (6.x.x). This works for me with latest lab on OS X.

[2015-10-14 13:56] simon-p-r commented on #465
Yes this works on my Windows box, the code above that causes issues works outside of lab with node.

[2015-10-14 14:09] Marsup commented on #465
Lab is changing the structure of the for..of, I guess it didn't understand the let keyword as well as it understood var.

[2015-10-14 15:02] simon-p-r commented on #465
Sorry I didn't say it also occurs if I use var instead of let

[2015-10-14 18:22] geek opened #467 "Filter duplicate stacks from error output"
When there is an error in the before/after we can remove duplicates from the output to reduce the amount of noise.  For example:

[code]

Can be filtered down to:

[code]

[2015-10-15 14:21] acastelain opened #468 "How to order test ?"
Hello !

Is there any way to order a sequence of test or specify if a test depends on an other one ?

Thanks !

[2015-10-15 14:35] cjihrig commented on #468
Having tests depend on one another should be avoided if possible. If it can't be, they are executed sequentially.

[2015-10-15 15:16] geek commented on #468
You can also run a single test or a series of tests using the `-i` param:

`lab -i 2,4,3,1` for example

[2015-10-15 15:16] #468 closed

[2015-10-23 16:10] HCanber opened #470 "for(var x of xs) is not handled correctly when coverage is turned on"
I'm getting the error _Unexpected token var_ for this code when running with `-c` flag:

In file `test.js`:
[code]

In file `fail.js`
[code]

If declaration of `action` is moved outside the for-loop it works
[code]

Looks like ` && node.parent.type !== 'ForOfStatement'` needs to be added to https://github.com/hapijs/lab/blob/master/lib/coverage.js#L165 to get:
[code]

Found in lab version 6.2.0

[2015-10-26 21:20] AdriVanHoudt opened #472 "es6 does weird things"
see https://github.com/hapijs/hoek/pull/165
github reports ok, build on 0.10 failed and the one on 4 reports ok but actually crashed.
The crash on 4 is reproducible by just running the tests locally if that helps anyone

[2015-10-27 10:49] #470 closed

[2015-10-27 11:43] geek opened #474 "7.0.0 release notes"
## Summary

Following the lead of [hapi](https://github.com/hapijs/hapi/issues/2764), lab version 7.0.0 is released to move away from node versions prior to node 4.0.0.

If you plan on using node 0.10 please use lab 6.2.0.

[2015-10-27 11:43] #474 closed

[2015-10-28 18:00] nlf opened #475 "consider testing arg passed to done is an error object"
currently as the documentation states

I feel like this should be slightly more restrictive and also require that an argument passed to `done()` be an instance of Error.

As it is currently, if you pass a non-Error object to done, the reporter prints nothing. For example:

[code]

displays the following:

![error](https://cldup.com/NAVDklIStD-2000x2000.png)

which is completely unhelpful. we shoul

[2015-10-28 18:03] devinivy commented on #475
Perhaps it could error if the argument is not an error object in a way that insists that an error object be passed.

[2015-10-28 19:15] AdriVanHoudt commented on #475
To not suddenly let builds pass that use this I would like @devinivy said, error with a message to use an error and maybe also print what was passed

[2015-10-29 10:02] simon-p-r commented on #465
Fixed by cb999c1376b88b4fc22105abc0d226b2adda759f

[2015-10-29 10:02] #465 closed

[2015-10-30 18:01] cjihrig opened #476 "ES6 linting rules"
@geek I'm in the process of putting together a linting update, per https://github.com/hapijs/contrib/issues/58. You can track the progress [here](https://github.com/continuationlabs/eslint-config-hapi/milestones/5.0.0). Some of the work requires custom rules, which are not done yet. The transition has already started in hapi, and I know you **just** bumped the major of lab. My question is, how do

[2015-10-30 18:03] hueniverse commented on #476
This should happen today if possible so that as people upgrade to new lab they get help with some of the new style changes.

[2015-10-30 19:50] geek commented on #476
@cjihrig as @hueniverse stated, I will bump the minor for 7 to get these changes in for people upgrading to 7.

[2015-10-30 22:58] #476 closed

[2015-10-31 17:09] hueniverse opened #479 "Update hapijs/items to 2.0.0 from 1.1.1"

[2015-10-31 17:12] AdriVanHoudt commented on #479
missed a space in the title ;)

[2015-11-01 23:32] hofan41 commented on #393
Hello!

New message, please read <http://corymclark.com/eight.php?vqc>

Ho-Fan Kang

[2015-11-02 00:02] geek commented on #472
@AdriVanHoudt is this still an issue?

[2015-11-02 08:50] AdriVanHoudt commented on #472
@hueniverse merged it and the latests builds seem ok and local also ok so nope

[2015-11-02 08:50] #472 closed

[2015-11-03 08:54] dszczyt commented on #462
+1

I npm-installed btoa and coffeescript and I wrote this transform file (I left the upath test) :
[code]
I have reports, but code displayed on them is javascript, not coffeescript.
However it seems to show appropriate coverage on this js.

[2015-11-04 20:29] geek commented on #479
@hueniverse thoughts on switching to https://www.npmjs.com/package/fastparallel  which is faster than items and also a v2 ?

[2015-11-04 21:24] hueniverse commented on #479
Hmm. For lab I really don't care. This module already comes with a gigantic pile of crap. For hapi I need to study it closer. When we first wrote items it was equal in performance to async. Looks like it got slower now (or others got faster). If the code looks good, I'll see if we should borrow the code we need or just switch over.

[2015-11-04 21:35] devinivy commented on #479
Would we continue to use items for serial calls, or move to fastserial?  I personally really like the simplicity of the implementation/API of items, and would prefer to adapt it slightly if we could get _comparable_ speed.

[2015-11-04 23:20] kgraves opened #481 "SyntaxError: Use of const in strict mode"
Hey guys,

I'm new to lab and wanted to try it on a new project, but am getting the following error when trying to run:
[code]

My env is as follows:
- node: 0.12.1
- npm: 2.11.2

My package.json is as follows:
[code]

The only thing I could think of is that the version of node I'm running (v0.12.1) doesn't support what it's complaining about. Is node v0.12.1 not compatible with lab? According to

[2015-11-04 23:23] dennismonsewicz commented on #481
:+1: I'm getting the same error

[2015-11-04 23:24] simon-p-r commented on #481
Install node version 4+, [here](https://github.com/hapijs/lab/blob/master/package.json#L11) it shows which version of node lab is compatible with.

[2015-11-04 23:26] kgraves commented on #481
Ok, sounds good. Thanks for the input @simon-p-r

[2015-11-04 23:26] #481 closed

[2015-11-04 23:27] simon-p-r commented on #481
:+1:

[2015-11-05 00:14] kgraves commented on #481
I just wanted to follow up on this. I installed node v5.0.0 and everything works as expected. Thanks again.

[2015-11-05 15:58] geek commented on #481
@kgraves good deal!

[2015-11-06 12:43] tanepiper opened #482 "Feature: Support lazy path loading for tests"
At the moment `lab` expects either a test folder at the root of the project, or passed a specific path to run a test.

This leads to it being quite difficult to write modular tests for specific plugin logic that live within the plugin folder.  For example:

[code]

As such if I want to re-use this plugin (without pushing it to npm as a separate entity) with another project I have to copy the tests

[2015-11-06 22:26] gergoerdosi commented on #482
This should already work with `lab server/plugins/ -P '.spec'`.

[2015-11-06 22:29] gergoerdosi opened #483 "Parameter value is parsed as option"
Found this when tested #482:

[code]

[2015-11-09 11:03] tanepiper commented on #482
@gergoerdosi Thanks - I see you've raised another bug from this but it seems to be working with me passing as you suggested with `lab src/server/plugins/ -t 100 -P '.spec'` for me.

[2015-11-19 19:26] nlf opened #488 "eslint incorrectly extends higher level configs"
see https://github.com/hapijs/qs/issues/136 for details

[2015-11-19 20:37] cjihrig commented on #488
Lab passes the `useEslintrc` option to ESLint. This allows users to use something other than the hapi rules. A side effect of that is that ESLint traverses all the way to the root of the file system, creating a cascaded config (see http://eslint.org/docs/user-guide/configuring.html). This seems like an expected consequence of that. Setting `useEslintrc` to `false` in `lib/linters/eslint/index.js`

[2015-11-19 23:39] geek commented on #488
Its going to work like Colin describes.  I don't see a way around that behavior in lab itself that won't break things...

[2015-11-19 23:39] #488 closed

[2015-11-21 02:45] toamitkumar opened #489 "Exception dumped on console when testing for error conditions"
Hi,

Is there a way to suppress the the errors shown on console for testing exceptions in code.
For eg: when I run this [test](https://gist.github.com/toamitkumar/d48f6526a5ce16f2b0c0), although the test passes, I see an exception dumped to console.
Makes me wonder if the tests passed, however it has passed

suggestion ?

[2015-11-21 08:33] Marsup commented on #489
What exception? More details please.

[2015-11-21 09:01] AdriVanHoudt commented on #489
I have test that I expect to throw, I just ignore them, not sure if it is possible to not print throws in console

[2015-11-21 16:31] toamitkumar commented on #489
Something like:

[code]

this is thrown from the code for errors which is being tested in the app

[2015-11-21 17:45] tribou opened #490 "Multiple callbacks or errors with Sinon"
I can't determine if this is an issue with lab, sinon, or my implementation (probably the latter).

I'm receiving the following double callback error even though all tests appear to complete successfully:

[code]

I've skipped the test for now, but this is the script:

[code]

Here's the line that's causing the issue in the context of the project:
https://github.com/tribou/whatlyric/blob/master/we

[2015-11-22 04:46] albertovasquez commented on #303
If you want to run the tests directly instead of npm test then I needed to
[code]

Otherwise I would get this error
[code]

[2015-11-22 06:11] toamitkumar commented on #489
Went through Hapi `server` module implementation and found `debug` flag that has to set to `false`.

[code]

this doesn't dump 500 exceptions captured by `domain` object.
Thanks for your response guys.

[2015-11-22 06:11] #489 closed

[2015-11-22 12:10] Marsup commented on #490
Not sure if it's the cause but maybe you should wait for the callback to return before marking the test as done, you might be undoing the stub a bit too early.

[2015-11-22 13:34] AdriVanHoudt commented on #489
oh nice :+1:

[2015-11-22 19:55] #303 closed

[2015-11-22 19:58] geek commented on #490
This is an issue with not handling the error event: https://github.com/nodejs/node/blob/master/lib/_http_client.js#L259

[2015-11-22 19:58] #490 closed

[2015-11-23 20:03] alobodig opened #491 "Coverage reporting does not support parsing ES6 objectLiteralComputedProperties"
The configuration options object passed to espree (in [lib/coverage.js](https://github.com/hapijs/lab/blob/master/lib/coverage.js#L213)) does not have `objectLiteralComputedProperties` set to true, but does have some other ES6 parsing options set. Would it be possible to provide a way to set other parsing options from outside of lab?

[2015-11-24 03:58] #479 closed

[2015-11-24 23:05] ravinggenius opened #493 "Diff colors render diff text unreadable"
When displaying a diff, the background colors are set. On my system (I'm using Solarized Light), the text color is already a not dark grey, so the text in the diff (arguably the most important part) is very difficult to read. Please explicitly set the foreground color anytime the background color is set. I've included a screenshot to demonstrate:

<img width="275" alt="screen shot 2015-11-17 at 21

[2015-11-25 08:29] Marsup commented on #493
This looks like an easy one to fix, maybe a contributor could do it ?

[2015-11-28 13:45] tribou commented on #490
@geek, you were correct.  This was an issue with the superagent package which was fixed by visionmedia/superagent@454eeb2.

The updated test at tribou/whatlyric@4a167111d781c5180633ebde6ac5e942fe5a6f49 no longer throws an error.

[2015-11-29 15:30] rutaihwa opened #494 "Coverage analysis not catching some files."
Im experiencing something strange in some of my repos, when i run tests on them in the local env I get 100% coverage even though there is some files not included. But when I push them up, travis catches the lack of coverage in the repo. Here is [ travis build log ](https://travis-ci.org/rutaihwa/babu-barebones/jobs/93738841).

[2015-11-29 18:47] geek commented on #494
Are you running the same node version and same dependency versions as travis?

[2015-11-29 18:52] geek commented on #475
@AdriVanHoudt and @devinivy sounds like a good plan to me

[2015-11-29 18:54] geek commented on #491
I am open to the change to pass options in, for now, feel free to create a PR to enable `objectLiteralComputedProperties`

[2015-11-29 19:19] rutaihwa commented on #494
Mhh, not quite Im running `npm` local - 2.14.7  and travis - 2.14.2, `nvm` - local 0.26.0 and travis - 0.23.3, `node` local - 4.2.2 and travis - 4.0.0. Could these make be the issue?

[2015-11-30 19:22] alobodig commented on #493
For what it's worth, I use a dark color scheme and it's also difficult to read. I think setting the text to bright white whenever the background is set would fix readability in both situations.
![screen shot 2015-11-30 at 1 58 44 pm](https://cloud.githubusercontent.com/assets/1733093/11481720/16e20d86-976d-11e5-876a-9bb70fb74e9f.png)

[2015-12-03 18:46] thephilip commented on #493
What text color would everyone prefer?  Is black okay?  I'm new to contributing in general, but I would like to take a stab at this if that's okay with everyone else.  Might take me a couple of days because of work being busy.

[2015-12-04 00:15] lokenx opened #497 "ESLint version doesn't like template strings"
Using Lab 7.3.0 and simple `.eslintrc` file below:
[code]

It freaks out when using Template Strings (part of ES6 features on by [default](https://nodejs.org/en/docs/es6/)) with following error:
[code]

Found reference to it in [this](https://github.com/eslint/eslint/issues/4259#issuecomment-152802636) issue. Manually changing the ESLint dependency in the Lab `package.json` to `"eslint": "1.10.x",

[2015-12-04 00:18] cjihrig commented on #497
Please open a PR. We should aim to stay up to date with ESLint when possible.

[2015-12-04 00:52] lokenx commented on #497
OK this makes no sense to me. @geek updated the ESLint to `1.10.x` a few days ago in 4e21e911. However when installing from NPM I'm getting `1.8.x` even though I'm on Lab `7.3.0`.

I did a `npm clean cache` to be sure I didn't have an old copy lying around or anything. I'm guessing changes have been made to GitHub repo but not published to NPM, even though version number's the same?

[2015-12-04 00:54] cjihrig commented on #497
Ah, yea it looks like the ESLint update was 10 days ago, but the last npm publish was 3 weeks ago. So hopefully the next version will fix your problem.

[2015-12-04 01:08] lokenx commented on #497
Yeah once it's pushed to NPM I'd get the new updates, I've manually made changes until it gets pushed to NPM.

[2015-12-04 01:08] #497 closed

[2015-12-04 14:36] alobodig commented on #493
Black is okay with me.

[2015-12-04 19:52] geek opened #499 "8.0.0 release notes"
Lab has a new linting rule that enforces errors to be handled in callbacks.  Here is the pull request for the change: #496

The rule only applies to arguments named `e`, `err,` or `error`.  Therefore, if you plan to not handle an error you will want to either not use the default lab linting rules or rename the argument.

[2015-12-04 19:52] #499 closed

[2015-12-07 14:57] thephilip commented on #493
Working on it now...

[2015-12-07 17:34] thephilip commented on #493
Does this look okay?
![actual-expected](https://cloud.githubusercontent.com/assets/13875805/11634346/e0c10998-9cdd-11e5-81f8-dab8051fb64a.PNG)

I was able to test the colors by passing two new color codes into internals.colors.  Only problems are that the colors module is a bit finicky with multiple colors (specifically, I've had issues trying to implement the new colors with the built-in 'setThem

[2015-12-07 21:55] ravinggenius commented on #493
I think it's better, but the `actual` is still difficult to read. `expected` is okay though.

[2015-12-07 22:13] thephilip commented on #493
@ravinggenius, you're right.  I think white looks better on the red...what do you think?
![fail](https://cloud.githubusercontent.com/assets/13875805/11641348/d81a41b0-9d05-11e5-801a-415ee1cdc689.PNG)

[2015-12-08 23:50] ravinggenius commented on #493
White on red is better. Can you test this with a light-colored terminal theme. I'm using Solarized Light in the screenshot above.

[2015-12-09 01:27] thephilip commented on #493
This is what it looks like on a white background:
![lightbg](https://cloud.githubusercontent.com/assets/13875805/11673870/14fc3f2c-9dea-11e5-8d0b-7d1f5f07ad68.png)

[2015-12-09 02:20] thephilip commented on #493
I guess using ANSI escape code 37 (30+7) in place of 255 works for xterm, cmd, & cygwin.  I'll update the pull request with the commit either tonight or tomorrow.  Hopefully it works in Terminal.app, but I have no way to test.

[2015-12-09 15:16] alobodig commented on #493
Looks great in Terminal.app.

<img width="172" alt="screen shot 2015-12-09 at 10 14 45 am" src="https://cloud.githubusercontent.com/assets/1733093/11689018/da5c6436-9e5d-11e5-9a6a-4a0c180187a6.png">

[2015-12-09 15:35] thephilip commented on #493
Thanks for testing, @alobodig .

[2015-12-11 10:47] AdrieanKhisbe opened #501 "Opening a wiki page"
Suggestion to open a wiki on the repo.

The main idea, would be to have a page that point to the release note,
so that there are easy to reach for :)

cf: https://github.com/hapijs/hapi/wiki

[2015-12-11 11:38] Marsup commented on #501
What's wrong with the issues and milestones way ?

[2015-12-11 12:15] AdrieanKhisbe commented on #501
Nothing is wrong.
I'm just suggestion to add a pointer to them so that you don't have to research them would be more than helpful.

again, cf: https://github.com/hapijs/hapi/wiki

[2015-12-11 12:19] Marsup commented on #501
It's one more thing to maintain, and one that cannot be automated, not sure it brings much value compared to [that](https://github.com/hapijs/lab/issues?q=is%3Aissue+is%3Aclosed+label%3A%22release+notes%22).

[2015-12-11 12:21] AdrieanKhisbe commented on #501
come on, adding one line per major version *c'est pas la mort...*

But indeed the dynamic like is a good alternative has long you don't have to type it.
Then it could be simply added to the README instead.

what do you thing?

[2015-12-11 12:24] Marsup commented on #501
My thoughts exactly, I was thinking about a whole section with a few links for other things I had in mind. But this probably concerns all the org repos so this should be debated in hapijs/contrib.

[2015-12-11 12:26] AdrieanKhisbe commented on #501
Indeed.
Should we move the discussion there? :)

[2015-12-11 12:26] Marsup commented on #501
Probably yes.

[2015-12-11 12:26] #501 closed

[2015-12-11 13:04] geek commented on #501
I really want to add a page under hapijs for lab to provide lengthier documentation

[2015-12-11 13:06] AdrieanKhisbe commented on #501
@geek : I concour ! :+1:
(and think would be usefull to do it for *Joi* too (It's implied for *Code* *Lab*'s little brother)

[2015-12-11 13:37] Marsup commented on #501
Whatever but no wiki please.

[2015-12-11 18:59] #493 closed

[2015-12-18 14:06] robkorv commented on #79
@Traviskn, great commend, I also was struggling with testing promises. An example would be a great addition to the README. A test even more.

[2015-12-18 16:25] robkorv commented on #79
There are some situation where @Traviskn example doesn't work. When you have an assert in `then()` or `catch()` and it doesn't trigger, the assert won't go off. You should add a custom error to `done()` in `then()` or `catch()` when you don't expect it to trigger.
[code]
__complete example__
[code]

[2015-12-18 19:12] Marsup commented on #79
@geek can I take a shot at it ?

[2015-12-18 22:34] Traviskn commented on #79
@robkorv thanks for the very complete examples!  definitely worth documenting somewhere

[2015-12-20 09:08] robkorv commented on #79
@Traviskn your welcome.
@Marsup https://github.com/domenic/chai-as-promised ported to lab/code would be great.

[2015-12-20 09:21] Marsup commented on #79
@robkorv Nope, my main goal with that feature is to use async/await, eliminating the need for such a library.

[2015-12-20 09:45] robkorv commented on #79
@Marsup, didn't know about async/await. Looks promising :smile:.

[2015-12-21 21:37] geek commented on #79
@Marsup sounds good to me, thank you.

[2015-12-22 15:26] AdrieanKhisbe opened #502 "Add mention on README to go for 6.2.0 for node 0.10"
New user of lab that have to support 0.10.0,
might not know to use 6.2.0.

`npm install --save-dev lab`, wont say anything.

Then it should be usefull to appear on the README.

(If there is an agreement, I can take care of the Fork&PR)

[2015-12-22 16:05] Marsup commented on #502
Dunno what your versions are but you should enable at least some logging level.
[code]

[2015-12-22 16:18] AdrieanKhisbe commented on #502
You do not get then it if you work on you dev environment with node 4.

It just appeared to me after the travis build:
cf
https://github.com/rjrodger/jsonic/pull/9
https://travis-ci.org/rjrodger/jsonic/builds/98336819

[2015-12-22 16:31] Marsup commented on #502
I don't even know what to say to that. Devs are notorious for not reading the docs anyway, you wouldn't even have noticed, and your CI picked it up so everything is fine. If you're using a local environment that's different from your tests you'll have troubles anyway.

[2015-12-22 16:42] AdrieanKhisbe commented on #502
some hapi plugin does for a similar need: https://github.com/toymachiner62/hapi-authorization.
and it's more than welcome :)

I might be dev, I read the doc ;)
Also, it's not suprising that they don't read doc, if they do not convey useful information :p
 :trollface:

more seriously, for me a readme should contains all the information needed to start using a library without any fuss

I let you dec

[2015-12-22 16:45] Marsup commented on #502
I think this should be solved elsewhere (ie. https://github.com/npm/npm/issues/3662). I'm not against documenting it but as @cjihrig said, that's something we'll drag with us until the end of times.

[2015-12-22 16:50] AdrieanKhisbe commented on #502
nevermind

[2015-12-22 16:50] #502 closed

[2015-12-25 23:31] oparamo opened #504 "Lab .eslintrc rules overrides local eslint rules."
I'm having an issue when I enable linting with Lab; my local eslint config file isn't used unless I use the **.eslintrc** format. The problem with this is that I want to use the **.eslintrc.js** format instead since using **.eslintrc** is being [depecrated by eslint](http://eslint.org/docs/user-guide/configuring.html#configuration-file-formats).

To see this issue in action, look at this [branch o

[2015-12-27 14:51] TomerAvni opened #505 "Coverage calculated wrong."
When running the coverage on "onPostHandler" method it show completely wrong results.

Here is the handler:
[code]
Now the the following tests are simple toggling weather the "sessionId" result exits or null:

[code]

Now, the coverage result, which shows both the "sessionId" and the "err" as always true while it is simply not true (the first test returns null as the result of the "getSessionState

[2015-12-27 22:49] #504 closed

[2015-12-28 16:11] geek commented on #505
The green areas do seem to indicate that you can simplify the conditionals:

[code]

[2015-12-28 17:17] prashaantt opened #506 "Babel global suppresses coverage results?"
I may be knocking on the wrong door here, but I'm just getting started using Babel in my project and have a `require('babel-register')`. This has the [known issue](http://babeljs.io/docs/setup/#babel_register) of exporting a global (`__core-js_shared__`).

My observation is that once I have this in my project, Lab doesn't check coverage and always reports 100% coverage. If instead I add my own glo

[2015-12-28 18:36] prashaantt commented on #506
Never mind, this looks to be something else. Placing the require for `babel-register` much later in the app solves this issue, and the global is clearly not the issue here.

[2015-12-28 18:36] #506 closed

[2015-12-30 16:51] joseph-norman commented on #375
After running some initial tests, this looks to be confined to just `console` reporting - I've managed to get it printing experiment names which may be the same. Would you like me to raise a PR with this fix?

[2015-12-30 19:10] geek commented on #375
@joseph-norman yes please.  Thank you!

[2016-01-04 19:52] galenandrew opened #507 "Add JavaScript Standard Style (`standard`) as a linter option"
Would love to see [`standard`](https://github.com/feross/standard) as a linter option.

[2016-01-04 20:40] hueniverse commented on #507
I don't think that's appropriate as a built-in option. hapi has a very specific style which we apply throughout the project.

[2016-01-04 21:03] galenandrew commented on #507
I'm referring to the `--linter` CLI option for Lab. You have `eslint` and `jslint` in [`lib/linters`](https://github.com/hapijs/lab/tree/master/lib/linters) so it appears to be designed in a way to support multiple linters. Am I incorrect?

[2016-01-04 21:14] hueniverse commented on #507
It is, just not sure we want to bundle lab with another.

[2016-01-05 04:51] geek commented on #507
@galenandrew I was looking into that a while back, but opted to just use an eslint config file to `extend: 'standard'`.  I want to move in the direction of removing  jslint from lab, especially since we don't use it for any hapi projects.

We do support passing options directly to eslint from the `--lint-options` argument.  But I am not seeing any way to specify an eslint plugin: http://eslint.org

[2016-01-05 13:17] galenandrew commented on #507
Thank you for the very helpful comment @geek! The eslint config and `--lint-options` are definitely a good workaround!!

@hueniverse, I'm picking up on a sense that this project is maintained only for use in other Hapi projects. If you choose to close this issue because it won't be used in other Hapi projects that is fine; there are alternatives.

[2016-01-05 17:23] geek opened #508 "--coverage-exclude should support multiple paths"
Currently, the cli option only supports a single path, this is a bug and it should support multiple paths passed in as an array

[2016-01-05 21:31] Marsup commented on #508
@geek I think it is, you just have to repeat the switch for each additional path.

[2016-01-05 22:12] geek commented on #508
@Marsup ! you are correct, I will make the documentation clearer

[2016-01-05 22:16] #508 closed

[2016-01-06 06:00] hueniverse commented on #507
lab represents the "hapi way" of doing things. I don't maintain this, @geek does.

[2016-01-06 22:55] geek commented on #507
@galenandrew I know others who want to see support for belly button, and I wouldn't mind seeing our seneca style as a built-in option... the default would stay with the hapi style guide.

Going to keep this issue open for now

[2016-01-07 00:28] galenandrew commented on #507
@geek sounds good

[2016-01-07 06:33] nlindley opened #509 "ignore causing exit code to be 0"
I am using `--coverage`, `--lint`, and `--ignore nil` and coverage is less than 100%. When I leave off the `--ignore` option, I get an exit code of `1`, but when I add it, it is `0` making CI think things were successful.

To isolate it and make sure it isn’t just npm or something, I did the following.

[code]

Normally this is run from `npm test`.

[code]

I have also tried this with and without

[2016-01-07 06:35] nlindley commented on #509
I should have mentioned, this was using version 8.0.1.

[2016-01-07 08:36] nlindley commented on #509
Maybe it’s not related to `--ignore`. The behavior I’m seeing in a bare-bones project is that I always get an exit code of `0` when using `--coverage` unless I explicitly set `--threshold`. Since the documentation says the default is `100`, I assumed this didn’t need set unless I wanted to lower the threshold. Is this incorrect?

[2016-01-07 15:31] nlindley commented on #509
Closing since it was late and my testing was bad. I might open a new issue to clarify the documentation.

[2016-01-07 15:31] #509 closed

[2016-01-11 01:54] tjmehta commented on #505
I noticed that your example is using `proxyquire`, I also noticed strange issue w/ coverage recently w/ lab and had only recently started using `proxyquire` in those projects. Removing `proxyquire` resolves the misreported coverage.

[2016-01-12 17:21] #505 closed

[2016-01-14 16:18] geek opened #511 "Show better error message when -P fails to find matching patterns"

[2016-01-14 16:53] Ajedi32 commented on #79
I too might be interested in using Lab with async/await. Has there been any progress on this lately?

Also, if this is still happening, could this issue be reopened as a feature request to more accurately reflect the status of this issue?

[2016-01-17 19:12] jedireza commented on #491
This can be closed right?

[2016-01-18 08:16] alobodig commented on #491
Yes, it can. Thanks.

On Sun, Jan 17, 2016 at 2:12 PM, Reza Akhavan <notifications@github.com>
wrote:

[2016-01-18 08:18] #491 closed

[2016-01-18 19:08] #462 closed

[2016-01-20 18:43] nlf opened #514 "use of the spread operator breaks coverage"
looks like we just need to enable it in the options for espree

[2016-01-20 20:52] #514 closed

[2016-01-24 14:01] rjrodger opened #517 "lab 8.2.0 not playing nice with node 0.12"
https://travis-ci.org/senecajs/gate-executor/jobs/104418467

[2016-01-24 14:01] gergoerdosi commented on #517
https://github.com/hapijs/lab/blob/v8.2.0/package.json#L11

[2016-01-24 14:07] cjihrig commented on #517
Across the hapi ecosystem, a major version bump was made, which dropped support for Node < 4. In lab's case, I believe that was the jump from 6 to 7.

[2016-01-26 02:21] rodoabad commented on #106
@geek What about ES6? Do we still need to use `require('babel-core/register')`?

[2016-01-26 03:30] geek commented on #106
@rodoabad if you are using ES6 features you will be fine without the extra require... lab now works only with node v4 and newer.

[2016-01-27 18:25] AdriVanHoudt opened #518 "Support for glob patterns"
I have tests in different folders and they are all in `test` folders but do not have suffixes or anything so currently I cannot macht them. And `-P` only allows for file name matching.
Am I missing something? Otherwise glob patters would solve the problem.

[2016-01-28 06:50] geek commented on #518
Why not add a suffix, or do a `blah.test.js` to make it able to be recognized with the `-P` option?

[2016-01-28 06:50] #517 closed

[2016-01-28 07:52] AdriVanHoudt commented on #518
yeah was thinking of that, but if it is not to hard to implement it would be a nice to have

[2016-01-30 04:38] rodoabad commented on #106
@geek I would still need to transpile my ES6/7 code with Babel before being able to run it especially if I am using `export` or `import`.

[2016-02-03 19:09] geek commented on #106
@rodoabad right, any language feature thats not supported by the version of node you are running requires transpiling.

[2016-02-05 00:58] garthk commented on #338
TL;DR:

* If you use `--transform` and `--reporter html`, you'll see transformed code
* `--sourcemaps` doesn't help

Might be worth documenting that, given no progress in nine months.

[2016-02-05 08:58] Marsup commented on #338
Bugs are already documented in the form of labeled opened issues, if you have time to spend, better spend it fixing the bug.

[2016-02-16 22:41] tjmehta commented on #282
Looks like `eslint@^1.10.0` is currently bundled w/ `lab`, can `lab` use an external `eslint`?

Specific Problem: `eslint-config-standard` now requires `eslint@^2.0.0`. Am I stuck using an old eslint-config that is compatible with `eslint@1`?

[2016-02-17 12:51] gergoerdosi commented on #282
I was about to send a pull request this week for eslint 2.0.0, because we need it too. If that change gets published with a new major version of lab, then our problem gets solved. Of course pluggable linters would be the best, but I assume it would require a lot more work.

[2016-02-17 19:15] geek commented on #282
@tjmehta and @gergoerdosi we will update to eslint 2, I also want to make linters pluggable so that I can pull out jshint from being bundled.

[2016-02-17 19:20] geek commented on #282
see https://github.com/hapijs/lab/pull/519

[2016-02-18 16:44] #274 closed

[2016-02-18 23:36] #282 closed

[2016-02-18 23:36] #313 closed

[2016-02-18 23:36] #507 closed

[2016-02-18 23:39] geek commented on #507
@galenandrew added the ability to use a custom linter in lab, this will allow standard to be wrapped and used... just need to return our custom lint report format: https://github.com/hapijs/lab/blob/master/lib/linter/index.js#L43-L56

[2016-02-18 23:39] geek commented on #313
Can now use custom linters

[2016-02-18 23:55] geek opened #523 "9.0.0 Release Notes"
## Summary

The only linter that ships with lab is now `eslint`.  Additionally, support has been added for running custom linters.

* **Upgrade time**: low - only people using jslint are impacted
* **Dependencies**: low- removed an optional dependency

## Migration List

If you are using jslint you can install [lab-jslint](https://www.npmjs.com/package/lab-jslint) in order to regain jslint support

[2016-02-18 23:55] #523 closed

[2016-02-19 00:04] galenandrew commented on #507
Awesome! Thank you for the update @geek!!

[2016-02-19 11:29] rluba opened #524 "Add a global `only` flag to improve TDD experience"
The current `only` flag only disables other experiments / tests within the same test file. From the documentation:

But during TDD in a codebase with many, many test files, I want solely run all tests _in a particular experiment_ very frequently while implementing a new feature — because always running all test files slows down each iteration unnecessarily. With mocha, I can simply [mark the corre

[2016-02-19 14:34] antony commented on #524
I for one would give a million upvotes for this. I've stopped using and removed Lab from all of our projects , and this is one of the core reasons. If it were fixed, I'd happily go back to it.

I would also vote for .only .exclusive etc as an alternative to using {only: true} et al. I like the fact I can use an options object in the test signature, but I also find it inconvenient. I find using it.

[2016-02-19 14:43] Marsup commented on #524
The `.only`/`.skip` is supported since a very long time.

[2016-02-19 15:17] rluba commented on #524
@antony Sounds great. I’d prefer to change the meaning of `{only: true}` / `.only(` to match that of other frameworks, if that’s possible without alienating existing users.

@Marsup Really? I did not know that. Then we should probably add it to the "usage" documentation.

[2016-02-19 17:35] geek commented on #524
@rluba @antony another option is to use the index argument... this is how I accomplish what you are describing.  I think its a bit better than `only` because it requires no code changes.

Usually, I will do `lab -dv` to get a list of tests... then If I want to run a subset run `lab -i 4-7`, that will run tests numbered 4 through 7.  This also accepts a comma if you want to do a varying range.  `la

[2016-02-19 18:07] rluba commented on #524
@geek That’s quite a crutch and does not support my workflow: I usually start a gulp watch task that re-runs the tests upon every file change. Then I set a `.only` on the current experiment, develop a feature, switch the `.only` to the next experiment, develop the next feature, and so on. While doing this, I add tests all the time.

So the required index range would change frequently (error prone!

[2016-02-19 18:11] geek commented on #524
@rluba I am open to the change... not sure on naming.  We can rework `only` to work on a suite wide level instead of just a single file/describe level.  I am open to a PR :)

[2016-02-19 18:14] Marsup commented on #524
I'd encourage you to look at #116 and adapt to new lab code base, since that was exactly how I designed it originally.

[2016-02-19 19:39] rluba commented on #524
@Marsup The comments on #116 are a great read – classic Eran ;-)

[2016-02-19 21:37] geek commented on #524
@Marsup :) really prefer the global .only style over how we are doing it now.  I will have to go back and see what you did originally.

[2016-02-20 03:19] pashariger opened #526 "8.2.0 -> 9.0.0 null lint rule errors"
After upgrading lab to latest version, all of my lab-linted files throw the following error:

`Line 3: null - Parsing error: The keyword 'const' is reserved`

Tried to clear and reinstall npms, same behavior. Running default lab linter. Seems like the upgrade of the  `eslint-config-hapi` package to 9.1.0 and eslint to 2.0 has something to do with it. Reverting to lab@8.2.0 worked.

[2016-02-20 03:35] cjihrig commented on #526
I just verified that the new linting works with hapi, lab, code, pez, catbox-memory, and poop. There is a chance that something in the upgrade to eslint@2.x.x broke you. Can you provide a minimal reproducible example?

[2016-02-20 07:55] pashariger commented on #526
Yep. https://github.com/pashariger/lab-eslint-test
The culprit here seems to be the presence of the .eslintrc file. (actually starting with v8.4.0)

Side note:

My actual project contains the `eslint-config-airbnb` npm and extends it in .eslintrc like so:
[code]
In 8.2.0 this properly applied the linting. Is that still the expected behavior in 9.x.x or will I need to use the new option: `--linter`

[2016-02-20 08:20] rluba commented on #524
@geek Are you working on it? I read the lab codebase yesterday and it’s really well named and structured – I could give it a try.

Shall we keep the old "local .only" behavior around? I don’t know a use case where it’s superior to a global .only but we could rename it to `{skipOthers: true}` or something similar if anyone needs it.

[2016-02-20 15:27] antony commented on #524
I feel like local only is pretty pointless because in most cases you have
to use it with something else. I personally wouldn't miss it.

I also think if we did keep it, it would be hard to name well.

Index is interesting, but for similar reasons to Raphael it doesn't work
for my default case.

On Sat, 20 Feb 2016 00:20 Raphael Luba <notifications@github.com> wrote:

[2016-02-20 15:30] gergoerdosi commented on #524
I agree, `only` should be global. We have a new developer and had the exact same problem - how to run only one test. I don't there is a need to keep the current behavior.

[2016-02-20 15:43] cjihrig commented on #526
I can't reproduce with your example. I cloned your repo, bumped the lab dependency to 9.x.x, npm installed and ran `npm test`:

[code]

Next, I added the line `module.exports = fs` to your `app.js` to fix the linting problem. Ran `npm test` again:

[code]

[2016-02-20 18:11] pashariger commented on #526
Interesting. Must be due to something in my environment, since I get the following via those steps:
[code]
Will try to replicate with other developers on my project and check back in.

[2016-02-20 18:44] gergoerdosi commented on #526
I can reproduce it with your test code. It happens because you overwrite the default configuration in `.eslintrc`. If you do that, you need to enable ES6 manually:

[code]

[2016-02-20 21:53] pashariger commented on #526
Ah, that explains it. Thanks @gergoerdosi. Thanks @cjihrig, I'll let you close in case you want to add a note for this in the docs. Cheers.

[2016-02-22 03:22] #526 closed

[2016-02-22 03:24] geek commented on #524
@rluba @antony @gergoerdosi agreed... @rluba feel free to correct the existing `only` behavior to apply globally and I will release it as 10.0.0.  Thanks!

[2016-02-24 06:12] salimkapadia commented on #273
@geek I'm having the same issue
`vagrant@vagrant-ubuntu-trusty-64: lab test/controllers/authController.js

Failed tests:
  1) method:post, url:/auth/login  Login with an invalid network:
      Timed out (2000ms) - method:post, url:/auth/login  Login with an invalid network

test/controllers/authController.js

var Lab = require("lab");
var Code = require('code');   // assertion library
var server =

[2016-02-24 12:41] Marsup commented on #273
Might be because you're not even trying to catch the error of the promise in pre.

[2016-02-24 17:47] geek commented on #273
@salimkapadia are you all using hapi for boomrat?  If so, fee free to add your company name to http://hapijs.com/community

[2016-02-24 17:52] salimkapadia commented on #273
@Marsup I've updated the code block and removed all pre functions. I am still getting the same error.
@geek I've moved on from boomrat and using hapi for a personal project

[2016-02-24 17:56] Marsup commented on #273
Do you at least get any logs from your console.log ? It seems like you're not even hitting the handler.

[2016-02-24 17:58] salimkapadia commented on #273
@Marsup nothing in the log. It's not even hitting the handler. Time to put try catch in the above require statements and see if there is an issue.

[2016-02-24 18:01] Marsup commented on #273
Do you have any hooks on the request lifecycle ?

[2016-02-24 18:28] salimkapadia commented on #273
@Marsup Below is my main server.js file for my app

[code]

[2016-02-24 19:16] Marsup commented on #273
Wow, that's some VERY old hapi you got there, can't remember last time I've seen pack. Also, what the hell is `happy` ?

[2016-02-24 22:21] #524 closed

[2016-02-24 22:55] geek opened #530 "10.0.0 Release Notes"
## Summary

Thanks to @rluba, the behavior of `only` is corrected to work across all scripts, instead of a single one.  This is aligned with how other test frameworks behave.  This is discussed further in https://github.com/hapijs/lab/issues/524

## Migration List

You will receive an error if you mark multiple tests or experiments as `only` running.  Therefore, if you are using `only` in multiple

[2016-02-24 22:57] #530 closed

[2016-02-24 23:12] geek opened #531 "Fix eslintignore and lint tests"
Need to relint test files, the change to `.eslintignore` with  `test/**/**` is ignoring all test files

[2016-02-24 23:41] #531 closed

[2016-02-25 03:08] salimkapadia commented on #273
@Marsup sorry, stupid autocorrect changed it from hapi to happy. This was an older project that I left incomplete, that i'm finally wrapping up.

[2016-02-25 09:43] Marsup commented on #273
You should upgrade, we're not supporting those old versions and we worked a lot on domains error catching since then.

[2016-02-25 21:41] salimkapadia commented on #273
@Marsup I found the issue. The bcrypt module was not installed and the error was being caught by promises but wasn't being thrown. I've updated my code and now I'm getting a different error.  I'll start a new issue.

[2016-02-26 04:53] salimkapadia opened #535 "Assertion causes error - Cannot check load when sampler is not started"
Hello,

I updated my hapijs project to the latest version of all packages identified in packages.json. When I run a single unit test using lab, I get the following error:

From the console.log statements, it is not even hitting my route handler.

[code]

[2016-02-26 05:08] salimkapadia commented on #535
I updated server.js to the following:
[code]
and when I run:

I get the following:

node index.js

This would probably explain why the server is not starting even though it says it started.
I ran this:

and I don't see anything listening on that port. This leads me to believe that the above console.log that says that the sever has started is incorrect ?